<% @group_items.by_position.each_with_index do |group, g_index| %>
  <tr <%= colour_group(group) %>>
    <td width="3%"><%= check_box_tag "","",false,{class: "checkbox_item",data: {index: g_index} } %></td>
    <td>
      <%= group.name %>
       <% if params[:group_items].present? && params[:group_items][g_index].present? %>
          <%= number_field_tag "group_items[#{group.id}][position]", params[:group_items][group.id][:position], { class: "numb" } %>
        <% else %>
          <%= number_field_tag "group_items[#{group.id}][position]", group.position, { class: "numb" } %>
        <% end %>
        <%= hidden_field_tag "group_items[#{group.id}][id]", group.id %>
    </td>
  </tr>
  <% group.unit_items.by_position.each_with_index do |item, i_index| %>
    <% attr_id = (g_index) + 1 * (i_index + 1) %>
    <tr>
      <td>
        <% selected_item = @membership.items.select{|i| i.unit_item_id == item.id}.first %>
        <%= check_box_tag "membership[unit_item_ids][]", item.id, selected_item.present?,{ class: "unit_item_id_#{g_index} checkbox_unit" } %>
      </td>
      <td>
        <%= image_tag item.logo.url(:thumb) if item.logo %>
        <%= item.name %>
        <% if params[:unit_items].present? && params[:unit_items][i_index].present? %>
          <%= number_field_tag "unit_items[#{item.id}][position]", params[:unit_items][item.id][:position], { class: "numb" } %>
        <% else %>
          <%= number_field_tag "unit_items[#{item.id}][position]", item.position, { class: "numb" } %>
        <% end %>
        <%= hidden_field_tag "unit_items[#{item.id}][id]", item.id %>
      </td>
    </tr>
  <% end %>
<% end if @group_items %>
  <tr style="background: black; color:#fff;">
    <td width="3%"><%= check_box_tag "","",false,{class: "checkbox_item" } %></td>
    <td>Non Categories</td>
  </tr>
  <% @unit_items.each_with_index do |item, i_index| %>
    <tr>
      <td>
        <% selected_item = @membership.items.select{|i| i.unit_item_id == item.id}.first %>
        <%= check_box_tag "membership[unit_item_ids][]", item.id, selected_item.present?,{ class: " checkbox_unit" } %>
      </td>
      <td>
        <%= image_tag item.logo.url(:thumb) if item.logo %>
        <%= item.name %>
      </td>
    </tr>
  <% end if @unit_items %>