<%= render layout: 'shareds/back_office/prepare_table', 
           locals: {
                     table_name:  'Memberships', 
                     button_name: 'Membership'
                   } do %>
  <table class="table table-hover" id="sample-table-1">
    <thead>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Category</th>
        <th>Publish on</th>
        <th>Published</th>
        <th>Featured</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @memberships.each_with_index do |member,index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= member.name %></td>
          <td><%= member.category.name if member.category %></td>
          <td><%= member.publish_on %></td>
          <td><%= member.is_published %></td>
          <td><%= member.is_featured %></td>
          <td>
            <%= render partial: 'shareds/back_office/action_buttons', locals: {resource: member, confirmation: "#{member.name} will be deleted, are you sure ?"} %>
          </td>
        </tr>  
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @memberships %>
  </div>
      
<% end %>