<%= render layout: 'shareds/back_office/prepare_table', 
           locals: {
                     table_name:  'Category Offices', 
                     button_name: 'Category Office'
                   } do %>
  <table class="table table-hover" id="sample-table-1">
    <thead>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @category_offices.each_with_index do |category_office,index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= category_office.name %></td>
          <td>
            <%= render partial: 'shareds/back_office/action_buttons', locals: {resource: category_office, confirmation: "#{category_office.name} will be deleted, are you sure ?"} %>
            </div>
          </td>
        </tr>  
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @category_offices %>
  </div>
<% end %>