<div class="span12">
  <div id="invoice-page">
    <div id="invoice_contents" style="float:left;background: #fff;">
      <div style="height: 48px">
        <div style="float:left;">
          <h2 style="position:relative; top: 20px;">
            <span style="font-size: 0.9em;font-weight: bold;">INVOICE NO.</span>
            <%= @order.code %>
          </h2>
        </div>
        <div style="float:right;">
          <%= image_tag 'bigtv.png', style: 'height: 64px;' %>
        </div>
      </div>
      <hr class="space" style="margin-bottom: 50px;">
      <div class="span-14">
        <table class="to-from">
          <tbody>
            <tr>
              <td style="width: 50%; vertical-align: top; padding-bottom: 0; text-align: left;">
                <h4 class="invoice-from" style="font-weight: bold;font-size: 16px;"><%= @customer.profile.full_name.upcase %></h4>
                <div style="width: 400px;float:left;font-size: 12px;margin: 2px 0px;">
                  <span style="float:left;font-size: 14px;"><%= @customer.email %></span>
                </div>
                <div style="width: 400px;float:left;font-size: 12px;margin: 2px 0px;">
                  <span style="float:left">No Telp.
                    <%= @customer_profile.no_phone %></span>
                </div>
                <div style="width: 400px;float:left;font-size: 12px;margin: 2px 0px;">
                  <span style="float:left">No HP.
                    <%= @customer_profile.no_hp %></span>
                </div>
                <div style="width: 400px;float:left;font-size: 12px;margin: 2px 0px;">
                  <span style="width: 54px;float:left">Alamat:</span>
                  <span style="float:left">
                    <%= @customer_profile.address_shipping.present? ? @customer_profile.address_shipping : @customer_profile.address %>
                    <br/><%= @customer_profile.regional %>
                  </span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="span-10 last">
        <div class="details clearfix" style="font-size: 14px;">
          <div class="span-15" style="text-align:right;">
            <b>Status:</b>
          </div>
          <div class="span-9 last t-right" style="text-align:right;">
            <%= (@order.status.blank? ? 'Pending' : @order.status).gsub(/Pending/i, 'In Progress').upcase %>
          </div>
          <div class="span-15" style="text-align:right;">
            <b>Dipesan Tanggal:</b>
          </div>
          <div class="span-9 last t-right" style="text-align:right;">
            <%= @order.created_at.strftime('%d %b %Y') %>
          </div>
          <div class="span-15" style="text-align:right;">
            <b>Total:</b>
          </div>
          <div class="span-9 last t-right" style="text-align:right;">
            <span class="currency_code">Rp.</span>
            <%= number_to_currency(@order.total,{precision: 0, unit: ''}) %>
          </div>
        </div>
      </div>
      <div class="span-24" style="margin-top: 50px;">
        <table id="line_items" class="span-24">
          <tbody><tr>
              <th class="description" style="width:225px">KETERANGAN</th>
              <th style="font-size:14px">PERIODE</th>
              <th class="unit-price" style="font-size:14px;width: 150px;text-align:center;">HARGA/BULAN</th>
              <th class="line_item_subtotal" style="font-size:14px">TOTAL</th>
            </tr>

            <% packages = @order.items.all %>
            <% extra_packages = packages.select{|i| i.extra? } %>
            <% packages = packages - extra_packages %>
            <% premium_package = packages.select{|i| i.premium?}.first %>
            <% packages = packages - [premium_package] %>
            <% [premium_package].concat(extra_packages).concat(packages).flatten.compact.each do |item| %>
              <tr class="line_item odd">
                <td class="description" style="text-align:left;">
                  <%= item.title.titleize %>
                </td>
                <td><%= @order.period %></td>
                <td class="nowrap">
                  <%= number_to_currency(item.price,{precision: 0, unit: ''}) %>
                </td>
                <td class="line_item_subtotal nowrap">
                  <%= number_to_currency(item.subtotal,{precision: 0, unit: ''}) %>
                </td>
              </tr>
            <% end %>
            <tr>
              <td class="rule" colspan="4">&nbsp;</td>
            </tr>
            <tr>
              <td colspan="2">
                &nbsp;
              </td>
              <td class="amount_due">
                <b class="right">Total</b>
              </td>
              <td class="amount_due nowrap" id="invoice_total">
                <%= number_to_currency(@order.total,{precision: 0, unit: ''}) %>
              </td>
            </tr>
          </tbody>
        </table>

        <% unless @order.success? %>
          <div class="extra_banner">
            <div class="own_extra">
              <%= link_to 'Bayar >>',  preview_manage_orders_path(token: @order.token), class: 'pack-order float-right-fixed margn' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
