<%= render layout: 'shareds/back_office/prepare_table', 
           locals: {
                     table_name:  'Subscriptions', 
                     button_name: 'Subscription'
                   } do %>

  <table class="table table-hover" id="sample-table-1">
    <thead>
      <tr>
        <th>No</th>
        <th>INVOICE NO</th>
        <th>Customer</th>
        <th>Created At</th>
        <th>Total</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each_with_index do |order,index| %>
        <tr>
          <th><%= index+1 %></th>
          <th><%= order.code %></th>
          <th><%= order.orderable.profile.first_name if order.orderable %></th>
          <th><b><%= order.orderable.created_at.strftime('%d %b %Y - at %I:%M%p') %></b></th>
          <th>Rp. <%= number_to_currency(order.total,{precision: 0, unit: ''}) %></th>
          <th><%= order.status.to_s.gsub(/pending/i, 'in progress').upcase %></th>
          <th>
            <% if current_user.type != 'Referral' %>
              <div class="pull-right btn-group btn-group-sm visible-md visible-lg hidden-sm hidden-xs">
                <%= link_to manage_order_path(order.id), method: :delete, data: {confirm: 'Are you sure'}, class: 'btn btn-default' do %>
                  <i class="icon-share"></i> Delete
                <% end %>
              </div>
            <% end %>
            <div class="pull-right btn-group btn-group-sm visible-md visible-lg hidden-sm hidden-xs">
              <%= link_to manage_order_path(order), class: 'btn btn-default' do %>
                <i class="icon-share"></i> Invoice
              <% end %>
            </div>
          </th>
        </tr>  
      <% end %>
   </tbody>
  </table>
  <div>
    <%= paginate @orders %>
  </div>
  
<% end %>