<div class="row">
  <div class="col-sm-12">
    <ol class="breadcrumb">
      <li>
        <i class="clip-home-3"></i>
        <%= link_to "Dashboard", root_path %>
      </li>
      <li class="active">
        Subcription
      </li>
      <li class="search-box">
        <form class="sidebar-search">
          <div class="form-group">
            <input type="text" placeholder="Start Searching..." data-default="130">
            <button class="submit">
              <i class="clip-search-3"></i>
            </button>
          </div>
        </form>
      </li>
    </ol>
    <div class="page-header">
      <h1>Show Subcription</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-external-link-sign"></i>
        Subcription
        <div class="panel-tools">
          <a class="btn btn-xs btn-link panel-expand" href="#">
            <i class="icon-resize-full"></i>
          </a>
          <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
          </a>
        </div>
      </div>
      <div class="panel-body backg_gray">
        <div class="span12">
          <div id="invoice_contents" class="margin_invo" style="margin:auto">
            <div style="height: 48px">
              <div style="float:left;">
                <h2 style="position:relative; top: 20px;">
                  <span style="font-size: 0.9em;font-weight: bold;">INVOICE NO.</span>
                  <%= @order.code %>
                </h2>
              </div>
              <div style="float:right;">
                <%= image_tag 'bigtv.png', style: 'height: 64px;' %>
              </div>
            </div>
            <br>
            <hr class="space" style="margin-bottom: 50px;">
            <div class="span-14">
              <% if @order.orderable %>
                <table class="to-from">
                  <tbody>
                    <tr>
                      <td>
                        <h4 class="invoice-from" style="font-weight: bold;font-size: 16px;">
                          <%= @order.orderable.profile.full_name.upcase if @order.orderable %>
                        </h4>
                        <div>
                          <span>No Telp.
                            <%= @order.orderable.profile.no_phone if @order.orderable %>
                          </span>
                        </div>
                        <div>
                          <span>No HP.
                            <%= @order.orderable.profile.no_hp if @order.orderable %>
                          </span>
                        </div>
                        <div>
                          <span>Alamat:</span>
                          <span>
                            <%= @order.orderable.profile.address if @order.orderable %>
                          </span>
                        </div>
                        <div>
                          <span>Alamat Pemasangan: </span> 
                          <span>
                            <%= @order.orderable.profile.address_shipping if @order.orderable %>
                          </span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              <% end %>
            </div>
            <div class="span-10 last">
              <div class="details clearfix">
                <div class="span-15" style="text-align:right;">
                  <b>Status:</b>
                </div>
                <div class="span-9 last t-right">
                  <%= (@order.status.blank? ? 'Pending' : @order.status).gsub(/Pending/i, 'In Progress').upcase %>
                </div>
                <div class="span-15" style="text-align:right;">
                  <b>Dipesan Tanggal:</b>
                </div>
                <div class="span-9 last t-right">
                  <%= @order.created_at.in_time_zone('Jakarta').strftime('%d %b %Y at %H:%M') %>
                </div>
                <div class="span-15" style="text-align:right;">
                  <b>Total:</b>
                </div>
                <div class="span-9 last t-right">
                  <span class="currency_code">Rp.</span>
                  <%= number_to_currency(@order.total,{precision: 0, unit: ''}) %>
                </div>
              </div>
            </div>
            <div class="span-24" style="margin-top: 50px;">
              <table id="line_items" class="span-24">
                <tbody><tr>
                    <th class="description">KETERANGAN</th>
                    <th style="font-size:14px">PERIODE</th>
                    <th class="unit-price" style="font-size:14px;width: 150px;text-align:center;">HARGA/BULAN</th>
                    <th class="line_item_subtotal" style="font-size:14px">TOTAL</th>
                  </tr>

                  <% packages = @order.items.all %>
                  <% extra_packages = packages.select{|i| i.extra? } %>
                  <% packages = packages - extra_packages %>
                  <% premium_package = packages.select{|i| i.premium?}.first %>
                  <% packages = packages - [premium_package] %>
                  <% [premium_package].concat(extra_packages).concat(packages).flatten.compact.each do |item| %>
                    <tr class="line_item odd">
                      <td class="description">
                        <%= item.title.titleize %>
                      </td>
                      <td><%= @order.period %></td>
                      <td class="nowrap">
                        <%= number_to_currency(item.price,{precision: 0, unit: ''}) %>
                      </td>
                      <td class="line_item_subtotal nowrap">
                        <%= number_to_currency(item.price * @order.period,{precision: 0, unit: ''}) %>
                      </td>
                    </tr>
                  <% end %>
                  <tr>
                    <td class="rule" colspan="4">&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      &nbsp;
                    </td>
                    <td class="amount_due">
                      <b class="right">Total</b>
                    </td>
                    <td class="amount_due nowrap" id="invoice_total">
                      <%= number_to_currency(@order.total,{precision: 0, unit: ''}) %>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div>
                <% if @order.orderable %>
                  Attachment :<br>
                  <% if @order.orderable.profile.file_ktp %>
                    <%= image_tag @order.orderable.profile.file_ktp.url(:medium), class: "attachment img_attach" %>
                  <% end %>
                  <% if @order.file_faktur %>
                    <%= image_tag @order.file_faktur.url(:medium), class: "attachment img_attach" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div style="margin-top: 10px;">
            <div class="pull-right">
              <%= link_to '<i class="icon-circle-arrow-left"></i> Back'.html_safe, manage_orders_path, class: "btn btn-dark-grey" %>
              <%= link_to '<i class="icon-wrench"></i> Edit'.html_safe, edit_manage_order_path(@order), class: "btn btn-purple" %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>