<section class="wraper_bg-bright wraper-follow-us bg-raw  fbscroll_item special_line_rotated_left back_support" id="blog">
	<div style="float:left; width:100%; margin-bottom:20px;">
		<div class="support_width">
			<%= link_to '<div class="support_cont c1" id="cont1">PEMBAYARAN</div>'.html_safe, pembayaran_path %>
			<%= link_to '<div class="support_cont c2 active" id="cont2">FAQ</div>'.html_safe, faq_path %>
			<%= link_to '<div class="support_cont c3" id="cont3">SERVICE REQUEST</div>'.html_safe, service_request_path %>
		</div>
	</div>
	<article class="packs-cont cbp-so-scroller" style="text-align:center; width:940px">
		<div class="panel-body" style="text-align:center; width:940px">
			<% flash.each do |name, msg| %>
			  <% if msg.present? && msg.is_a?(String) %>
			    <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
			      <a class="close" data-dismiss="alert">&#215;</a>
			      <%= content_tag :div, msg.html_safe, :id => "flash_#{name}" if (msg.is_a?(String))%>
			    </div>
			  <% end %>
			<% end %>
			<div class="cont1">
				<h1 class="padding-top50"><span>FAQ</span></h1>
				<div class="polosochka2"></div>
				<ul class="nav nav-tabs">
				  <% @support_faq.each do |support| %>
					  <li><a href="#<%= support.id%>b" data-toggle="tab"><%= support.title%></a></li>
					<% end if @support_faq %>
				</ul>
				<div class="tab-content">
				  <% @support_faq.each_with_index do |support,index| %> 
					  <div class="tab-pane <%= " active" if index == 0 %> white_tab" id="<%= support.id%>b">
					  	<div class="content_support">
					  		<%= support.description.html_safe %>
					  	</div>
					  </div>
				  <% end %>
				</div>
			</div>
			<div class="content_support" style="text-align:left">
				<%= image_tag "support/contact.png", class: "img_support" %>
				<p class="text_support_big">
					PERTANYAAN LEBIH LANJUT SILAHKAN HUBUNGI<br>
					KAMI DI CONTACT CENTER <span class="red_contact">021-500 244</span><br>
					EMAIL : <span class="red_contact">CUSTOMER.SERVICE@BIGTV.CO.ID</span><br>
					FAX : <span class="red_contact">(021) 557 77722</span><br>
				</p>
			</div>
		</div>
	</div>
	<div class="polosochka"></div>
</section>