<section class="wraper_bg-bright wraper-follow-us bg-raw  fbscroll_item special_line_rotated_left back_support" id="blog">
	<h1><span>PEMBAYARAN MUDAH DIMANA SAJA</span></h1>
	<div class="polosochka2"></div>
	<article class="packs-cont cbp-so-scroller" style="text-align:center; width:940px">
		<div class="panel-body" style="text-align:center; width:940px">
			<ul class="nav nav-tabs">
			  <% @supports.each do |support| %>
				  <li><a href="#<%= support.id%>" data-toggle="tab"><%= support.title%></a></li>
				<% end %>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
			  <% @supports.each_with_index do |support,index| %> 
				  <div class="tab-pane <%= " active" if index == 0 %> white_tab" id="<%= support.id%>">
				  	<div class="content_support">
				  		<%= support.description.html_safe %>
				  	</div>
				  </div>
			  <% end %>
			</div>
			<div class="content_support" style="text-align:left">
				<%= image_tag "support/contact.png", class: "img_support" %>
				<p class="text_support_big">
					PERTANYAAN LEBIH LANJUT SILAHKAN HUBUNGI<br>
					KAMI DI CONTACT CENTER <span class="red_contact">021-500 244</span><br>
					EMAIL : <span class="red_contact">CUSTOMER.SERVICE@BIGTV.CO.ID</span><br>
					FAX : <span class="red_contact">(021) 557 77722</span><br>
				</p>
			</div>
		</div>
	</div>
	<div class="polosochka"></div>
</section>