<%= render layout: 'shareds/back_office/prepare_table', 
           locals: {
                     table_name:  'Users', 
                     button_name: 'User'
                   } do %>

	<table class="table table-hover" id="sample-table-1">
		<thead>
			<tr>
				<th class="center">#</th>
				<th>Fist Name</th>
				<th class="hidden-xs">Last Name</th>
				<th class="hidden-xs">Phone</th>
				<th>Email</th>
				<th class="hidden-xs">Address</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			<tr>
				<td class="center">1</td>
				<td class="hidden-xs"><%= user.profile.first_name if user.profile %></td>
				<td><%= user.profile.last_name if user.profile %></td>
				<td class="hidden-xs"><%= user.profile.no_phone if user.profile %></td>
				<td><a><%= user.email %></a></td>
				<td class="hidden-xs"><%= user.profile.address if user.profile %></td>
				<td class="center">
					<%= render partial: 'shareds/back_office/action_buttons', locals: {resource: user, confirmation: "#{user.username} will be deleted, are you sure ?"} %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<div>
		<%= paginate @users %>
	</div>
				
<% end %>

