<%= render layout: 'shareds/back_office/prepare_table', 
           locals: {
                     table_name:  'Channels', 
                     button_name: 'Channel'
                   } do %>

  <table class="table table-hover" id="sample-table-1">
    <thead>
      <tr>
        <th>No</th>
        <th>Logo</th>
        <th>Name</th>
        <th>HD</th>
        <th>Free</th>
        <th>Group Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @unit_items.each_with_index do |item,index| %>
        <tr>
          <th><%= index+1 %></th>
          <th><%= image_tag(item.logo.url(:thumb)) %></th>
          <th><%= item.name %></th>
          <th><%= item.status_hd %></th>
          <th><%= item.free %></th>
          <th><%= item.group_item.name if item.group_item %></th>
          <th>
            <%= render partial: 'shareds/back_office/action_buttons', locals: {resource: item, confirmation: "#{item.name} will be deleted, are you sure ?"} %>
            </div>
          </th>
        </tr>  
      <% end %>
   </tbody>
  </table>
  <div>
    <%= paginate @unit_items %>
  </div>
  
<% end %>