<section class="wraper_bg-bright extra_packages">
  <h1><span>EXTRA</span> PACKAGES</h1>
  <div class="polosochka2"></div>

  <article class="packs-cont cbp-so-scroller" style="text-align:left">
    <%= form_tag(carts_path, method: "post") do %>
      <div class="panel-body">
        <div class="extra_banner">
          <div class="own_extra">
            <span class="extra_info">Please fill the checkboxes to subscribe Our Extra Packages</span>
            <input class="pack-order float-right-fixed margn" type="submit" value="Lanjut >>">
          </div>
        </div>
        <% if(flash[:alert]) %>
          <div id="error_explanation">
            <div class="alert alert-block alert-danger fade in ">
              <%= flash[:alert] %>
            </div>
          </div>
        <% end %>
        <br>
        <div class="grd_masonry">
          <% @memberships.each_with_index do |membership,index| %>
            <div class="grid_packages">
              <div class="head_pack red vers add_padding">
                <div class="roundedOne2 versi2">
                  <% checked = @order.items.map(&:membership_id).include?(membership.id) %>
                  <%= check_box_tag 'membership_ids[]', membership.id, checked, id: "member_#{index}" %>
                  <label for="member_<%= index %>"></label>
                </div>
                <span class="title_ord italic">BiG</span> 
                <span class="title_ord"><%= membership.name %></span>
                <div>
                  Rp. <b><%= number_to_currency(membership.price_month,{unit: '', precision: 0}) %>,-</b>
                </div>
              </div>
              <table class="table table-bordered padding0">
                <tbody>
                  <% membership.unit_items.each do |item| %>
                    <tr>
                      <td>
                        <span class="name_channel"><%= item.name %></span>
                      </td>
                      <td>
                        <%= image_tag item.logo.url(:thumb), { class: "small_image", alt: item.logo.name }  %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </article>
</section>