<section class="wraper_bg-bright">
	<h1><span>ORDER FORM</span></h1>
	<div class="polosochka2"></div>

	<article class="packs-cont cbp-so-scroller" style="text-align:left">
		<%= form_for :user, url: subcribtions_carts_path, method: 'post' do %>
	    <div class="panel-body">
				<!-- <form action="#" role="form" id="form" novalidate="novalidate"> -->
					<div class="row">
						<div class="col-md-12">
							<% if flash[:errors].present? %>
								<div class="errorHandler alert alert-danger no-display">
									<i class="icon-remove-sign"></i> <%= flash[:errors] %>
								</div>
							<% end %>
							<!-- <div class="successHandler alert alert-success no-display">
								<i class="icon-ok"></i> Your form validation is successful!
							</div> -->
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">
									Nama
								</label>
								<input type="text" placeholder="Nama" class="form-control" name="user[username]">
								<input type="text" placeholder="Nama" class="form-control" name="user[username]">
							</div>
							<div class="form-group">
								<label class="control-label">
									Jenis Kelamin
								</label>
								<input type="text" placeholder="Jenis Kelamin" class="form-control" name="user[profile_attributes]firstname">
							</div>
							<div class="form-group">
								<label class="control-label">
									Tanggal Lahir
								</label>
								<input type="text" placeholder="Tanggal Lahir" class="form-control" name="firstname">
							</div>
							<div class="form-group">
								<label class="control-label">
									Email
								</label>
								<input type="text" placeholder="Email" class="form-control" name="firstname">
							</div>
							<div class="form-group">
								<label class="control-label">
									Riperal
								</label>
								<input type="text" placeholder="Riperal" class="form-control" name="firstname">
							</div>
							<div class="form-group">
								<label class="control-label">
									Tipe Identitas
								</label>
								<input type="text" placeholder="Tipe Identitas" class="form-control" name="firstname">
							</div>
							<div class="form-group">
								<label class="control-label">
									Nomor Identitas
								</label>
								<input type="text" placeholder="Nomor Identitas" class="form-control" name="firstname">
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">
									Telepon
								</label>
								<input type="text" placeholder="Telepon" class="form-control" name="firstname">
							</div>
							<div class="form-group">
								<label class="control-label">
									Handphone
								</label>
								<input type="text" placeholder="Handphone" class="form-control" name="firstname">
							</div>
							<div class="form-group">
								<label class="control-label">
									Alamat
								</label>
								<textarea class="autosize form-control" id="form-field-24" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 69px;"></textarea>
							</div>
							<div class="form-group">
								<label class="control-label">
									Kota
								</label>
								<input type="text" placeholder="Kota" class="form-control" name="firstname">
							</div>
							<div class="form-group">
								<label class="control-label">
									Provinsi
								</label>
								<input type="text" placeholder="Provinsi" class="form-control" name="firstname">
							</div>
							<div class="form-group">
								<label class="control-label">
									Kodepos
								</label>
								<input type="text" placeholder="Kodepos" class="form-control" name="firstname">
							</div>
						</div>
					</div>

					<div class="br"></div>
					<div class="row">
						<div class="col-md-12">
							<div class="order_summary">
								<div class="col-md-6">
									<div class="form-group">
										<span class="title_ord_big">ORDER SUMMARY</span>
										<div class="br"></div>
										<% membership_category = '' %>
										<% @order.items.each do |item| %>
											<% if item.membership_category != 'Other' %>
												<% if item.membership_category != membership_category %>
													<span class="title_ord"><%= item.membership_category %></span>
												<% end %>
												<table class="tbl_order">
													<tbody>
														<tr>
															<td><%= item.title %></td>
															<td><div class="nominal">Rp.<b><%= number_to_currency(item.subtotal,{precision: 0, unit: ''}) %></b></div></td>
														</tr>
													<tbody>
												</table>
												<% membership_category = item.membership_category %>
											<% end %>
										<% end %>
										<% @order.items.each do |item| %>
											<% if item.membership_category == 'Other' %>
											<div class="br"></div>
												<table class="tbl_order">
													<tbody>
														<tr>
															<td><%= item.title %></td>
															<td><div class="nominal">Rp.<b><%= number_to_currency(item.subtotal,{precision: 0, unit: ''}) %></b></div></td>
														</tr>
													<tbody>
												</table>
											<% end %>
										<% end %>
										<div class="br"></div>
										<div class="hr"></div>
										<table class="tbl_order">
											<tbody>
												<tr>
													<td><div style="float:right"><span class="title_ord">TOTAL</span></div></td>
													<td><div class="nominal">Rp.<b><%= number_to_currency(@order.total,{precision: 0, unit: ''}) %></b></div></td>
												</tr>
											<tbody>
										</table>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<div class="br"></div>
										<div class="br"></div>
										<%= image_tag "visa.png", style:"margin-right:5px"%><%= image_tag "master.png"%>
										<div class="br"></div>
										Pilih Pembayaran
										<div class="br"></div>
										<select name="mm" id="mm" class="form-control">
											<option value="1">1 Bulan</option>
											<option value="2">2 Bulan</option>
											<option value="3">3 Bulan</option>
											<option value="4">4 Bulan</option>
											<option value="5">5 Bulan</option>
											<option value="6">6 Bulan</option>
											<option value="7">7 Bulan</option>
											<option value="8">8 Bulan</option>
											<option value="9">9 Bulan</option>
											<option value="10">10 Bulan</option>
											<option value="11">11 Bulan</option>
											<option value="12">12 Bulan</option>
										</select>
										<div class="br"></div>
										<input type="submit" class="submit" value="LANJUT KE PEMBAYARAN"> 
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		<% end %>
	</article>
</section>