<section class="wraper_bg-bright extra_packages">
	<h1><span>EXTRA</span> PACKAGES</h1>
	<div class="polosochka2"></div>

	<article class="packs-cont cbp-so-scroller" style="text-align:left">
		<%= form_for :user, url: subcribe_carts_path, method: 'post' do |f| %>
			<%= f.fields_for(:profile_attributes) do |profile| %>
	    <div class="panel-body">
				<!-- <form action="#" role="form" id="form" novalidate="novalidate"> -->
				<div class="row">
					<div class="col-md-12">
						<% if flash[:errors].present? %>
							<div class="errorHandler alert alert-danger no-display">
								<i class="icon-remove-sign"></i> <%= flash[:errors] %>
							</div>
						<% end %>
						<!-- <div class="successHandler alert alert-success no-display">
							<i class="icon-ok"></i> Your form validation is successful!
						</div> -->
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">
								Nama
							</label>
							<%= profile.text_field :first_name, {class: 'form-control', placeholder: 'Name', required: true} %>
						</div>
						<div class="form-group">
							<label class="control-label">
								Jenis Kelamin
							</label>
							<%= profile.select :jenis_kelamin, [['Pria', 'Pria'], ['Wanita', 'Wanita']],{}, {class: 'form-control', required: true} %>
						</div>
						<div class="form-group">
							<label class="control-label">
								Tanggal Lahir
							</label>
							<%= profile.text_field :tanggal_lahir, {class: 'form-control datepicker', data: {"date-format" => "yyyy-mm-dd", "date-viewmode" => "years"}, placeholder: 'Tanggal Lahir', required: true} %>
						</div>
						<div class="form-group">
							<label class="control-label">
								Email
							</label>
							<%= f.text_field :email, {class: 'form-control', placeholder: 'Email', required: true} %>
						</div>
						<div class="form-group">
							<label class="control-label">
								Referal
							</label>
							<%= profile.text_field :referal, {class: 'form-control', placeholder: 'Referal', required: true} %>
						</div>
						<div class="form-group">
							<label class="control-label">
								Tipe Identitas
							</label>
							<%= profile.select :tipe_identitas, [['KTP', 'KTP'], ['SIM', 'SIM'],['Passport','Passport']],{}, {class: 'form-control', required: true} %>
						</div>
						<div class="form-group">
							<label class="control-label">
								Nomor Identitas
							</label>
							<%= profile.text_field :no_identitas, {class: 'form-control', placeholder: 'Nomor Identitas', required: true} %>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">
								Telepon
							</label>
							<%= profile.text_field :no_phone, {class: 'form-control', placeholder: 'Telepon', required: true} %>
						</div>
						<div class="form-group">
							<label class="control-label">
								Handphone
							</label>
							<%= profile.text_field :no_hp, {class: 'form-control', placeholder: 'Handphone', required: true} %>
						</div>
						<div class="form-group">
							<label class="control-label">
								Alamat
							</label>
							<%= profile.text_area :address, {class: 'autosize form-control', style: "overflow: hidden; word-wrap: break-word; resize: horizontal; height: 69px;", required: true} %>
						</div>
						<div class="form-group">
							<label class="control-label">
								Kota
							</label>
							<%= profile.text_field :city, {class: 'form-control', placeholder: 'Kota', required: true} %>
						</div>
						<div class="form-group">
							<label class="control-label">
								Provinsi
							</label>
							<%= profile.text_field :province, {class: 'form-control', placeholder: 'Provinsi', required: true} %>
						</div>
						<div class="form-group">
							<label class="control-label">
								Kodepos
							</label>
							<%= profile.text_field :codepos, {class: 'form-control', placeholder: 'Kode Pos', required: true} %>
						</div>
					</div>
				</div>

				<div class="br"></div>
				<div class="row">
					<div class="col-md-12">
						<div class="order_summary">
							<div class="col-md-6">
								<div class="form-group">
									<span class="title_ord_big">ORDER SUMMARY</span>
									<div class="br"></div>
									<% membership_category = '' %>
									<% @order.items.each do |item| %>
										<% if item.membership_category != 'Other' %>
											<% if item.membership_category != membership_category %>
												<span class="title_ord"><%= item.membership_category %></span>
											<% end %>
											<table class="tbl_order">
												<tbody>
													<tr>
														<td><%= item.title %></td>
														<td><div class="nominal">Rp.<b><%= number_to_currency(item.subtotal,{precision: 0, unit: ''}) %></b></div></td>
													</tr>
												<tbody>
											</table>
											<% membership_category = item.membership_category %>
										<% end %>
									<% end %>
									<% @order.items.each do |item| %>
										<% if item.membership_category == 'Other' %>
										<div class="br"></div>
											<table class="tbl_order">
												<tbody>
													<tr>
														<td><%= item.title %></td>
														<td><div class="nominal">Rp.<b><%= number_to_currency(item.subtotal,{precision: 0, unit: ''}) %></b></div></td>
													</tr>
												<tbody>
											</table>
										<% end %>
									<% end %>
									<div class="br"></div>
									<div class="hr"></div>
									<table class="tbl_order">
										<tbody>
											<tr>
												<td><div style="float:right"><span class="title_ord">TOTAL</span></div></td>
												<td><div class="nominal">Rp.<b><span id="total-nominal" data-value="<%= @order.total %>"><%= number_to_currency(@order.total,{precision: 0, unit: ''}) %></span></b></div>
													<%= hidden_field_tag 'total', @order.total, id: 'hidden_total' %>
												</td>
											</tr>
										<tbody>
									</table>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<div class="br"></div>
									<div class="br"></div>
									<%= image_tag "visa.png", style:"margin-right:5px"%><%= image_tag "master.png"%>
									<div class="br"></div>
									Pilih Pembayaran
									<div class="br"></div>
									<select name="mm" id="mm" class="form-control">
										<option value="1">1 Bulan</option>
										<option value="2">2 Bulan</option>
										<option value="3">3 Bulan</option>
										<option value="4">4 Bulan</option>
										<option value="5">5 Bulan</option>
										<option value="6">6 Bulan</option>
										<option value="7">7 Bulan</option>
										<option value="8">8 Bulan</option>
										<option value="9">9 Bulan</option>
										<option value="10">10 Bulan</option>
										<option value="11">11 Bulan</option>
										<option value="12">12 Bulan</option>
									</select>
									<div class="br"></div>
									<input type="submit" class="submit" value="LANJUT KE PEMBAYARAN"> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>
		<% end %>
	</article>
</section>