 <section class="wraper_bg-bright extra_packages">
  <h1><span>SEWA DEKODER</span></h1>
  <div class="polosochka2"></div>
  <h3>Kini anda dapat menimakti tayangan BigTV lebih dari 1 televisi 
    <br>dengan menggunakan dekoder tambahan.
    <br>minimal berlangganan BigStar 117.</h3>
  <article class="packs-cont cbp-so-scroller" style="text-align:left">
    <div class="panel-body">
      <% if(flash[:alert]) %>
        <div id="error_explanation">
          <div class="alert alert-block alert-danger fade in ">
            <%= flash[:alert] %>
          </div>
        </div>
      <% end %>
      <div class="grd_masonry_decode">
        <div class="grid_packages_decode white46">
          <div class="head_pack_gray">
            <span class="gray_font">PAKET YANG DIPESAN</span>
          </div>
          <table class="table table-bordered padding0 decode2">
            <tbody>
              <tr>
                <td>
                  <% other_package_id = 0 %>
                  <% @order.items.each do |item| %>
                    <% if item.membership_category == 'Premium' %>
                      <div class="pack-info">
                        <div class="big-decode font_red">BiG</div>
                        <span class="small-decode font_red"><%= item.membership.name %></span>
                        <div class="br-small"></div>
                        <div class="pack-i-line">
                          Rp.
                          <span class="prc">
                            <%= number_to_currency(item.subtotal,{precision: 0, unit: ''}) %>
                          </span>
                        </div>
                      </div>
                    <% elsif item.membership_category == 'Extra' %>
                      <div class="pack-info additional-pack">
                        <span class="small-decode font_red"><%= item.membership.name %></span>
                        <div class="br-small"></div>
                        <div class="pack-i-line">
                          Rp.
                          <span class="prc">
                            <%= number_to_currency(item.subtotal,{precision: 0, unit: ''}) %>
                          </span>
                        </div>
                      </div>
                    <% else %>
                      <% other_package_id = item.membership_id %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <% @memberships.each_with_index do |member, index| %>
          <div class="grid_packages_decode pck_decode">
            <div class="head_pack red">
              <span class="small-counter2"><%= member.name %></span>
            </div>
            <table class="table table-bordered padding0 decode pck_decode_table" data-index="<%= member.id %>">
              <tbody>
                <tr>
                  <td>
                    <div class="br"></div>
                    <div class="pack-info">
                      <div class="pack-i-line">
                        Rp.
                        <span class="prc">
                          <%= number_to_currency(member.price_month,{precision: 0, unit: ''}) %>
                        </span>
                        <div>/month</div>
                      </div>
                    </div>
                    <div class="roundedOne">
                      <% is_selected = (other_package_id.to_i == member.id.to_i) %>
                      <% up_channel = is_selected ? 'up_channel' : '' %>
                      <%= radio_button_tag 'membership_id', member.id, is_selected, {id: "member_#{index}",class: "hide #{up_channel}"} %>
                      <label for="member_2_1"></label>
                    </div>
                    <div class="br"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>

      <div class="own_extra">
        <input class="pack-order float-right-fixed margn" type="submit" value="Lanjut >>">
      </div>
    </div>
  </article>
</section>

