<div class="row">
  <div class="col-sm-12">
    <ol class="breadcrumb">
      <li>
        <i class="clip-home-3"></i>
        <%= link_to "Dashboard", root_path %>
      </li>
      <li class="active">
        Unit Item
      </li>
      <li class="search-box">
        <form class="sidebar-search">
          <div class="form-group">
            <input type="text" placeholder="Start Searching..." data-default="130">
            <button class="submit">
              <i class="clip-search-3"></i>
            </button>
          </div>
        </form>
      </li>
    </ol>
    <div class="page-header">
      <h1>
        List Unit Items
        <div class="pull-right"> 
          <%= link_to '<i class="icon-plus"></i>Add Item'.html_safe, new_unit_item_path, class: "btn btn-primary" %>
        </div>
      </h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon-external-link-sign"></i>
        Unit Item
        <div class="panel-tools">
          <a class="btn btn-xs btn-link panel-expand" href="#">
            <i class="icon-resize-full"></i>
          </a>
          <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
          </a>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-hover" id="sample-table-1">
          <thead>
            <tr>
              <th>No</th>
              <th>Name</th>
              <th>Group Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @unit_items.each_with_index do |item,index| %>
              <tr>
                <th><%= index+1 %></th>
                <th><%= item.name %></th>
                <th><%= item.group_item.name if item.group_item %></th>
                <th>
                  <div class="visible-md visible-lg hidden-sm hidden-xs">
                    <%= link_to '<i class="icon-share"></i>'.html_safe, unit_item_path(item), class: "btn btn-green tooltips",data: { placement: 'top', 'original-title' => 'Show' } %>
                    <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_unit_item_path(item), class: "btn btn-teal tooltips",data: { placement: 'top', 'original-title' => 'Edit' } %>
                    <%= link_to '<i class="icon-remove icon-white"></i>'.html_safe, unit_item_path(item), method: 'delete',class: "btn btn-bricky tooltips" ,data: { confirm: "Are you sure?", placement: 'top', 'original-title' => 'Remove' } %>
                  </div>
                </th>
              </tr>  
            <% end %>
         </tbody>
        </table>
      </div>
    </div>
  </div>
</div>