<% if @regional.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-block alert-danger fade in ">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong> <%= pluralize(@regional.errors.count, "error") %>
      <% @regional.errors.full_messages.each do |msg| %>
      <diV>
        <%= msg %>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
<div class="form-group">
  <%= f.label :name, class: "col-sm-2 control-label" %>
  <div class="col-sm-9">
    <%= f.text_field :name, class: "form-control" %>
  </div>
</div>
<div class="pull-right">
  <%= f.submit 'Save', class: "btn btn-bricky" %>
  <%= link_to '<i class="icon-circle-arrow-left"></i> Back'.html_safe, manage_regionals_path, class: "btn btn-dark-grey" %>
</div>
