<%= render layout: 'shareds/back_office/prepare_table', 
           locals: {
                     table_name:  'Regionals', 
                     button_name: 'Regional'
                   } do %>
  <table class="table table-hover" id="sample-table-1">
    <thead>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @regionals.each_with_index do |regional,index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= regional.name %></td>
          <td>
            <%= render partial: 'shareds/back_office/action_buttons', locals: {resource: regional, confirmation: "#{regional.name} will be deleted, are you sure ?"} %>
            </div>
          </td>
        </tr>  
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @regionals %>
  </div>
<% end %>