<div style="width:100%!important;background-color:#ececec;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif">
  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#ececec">
    <tbody><tr style="border-collapse:collapse">
      <td align="center" bgcolor="#ececec" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse">
        <table width="640" cellpadding="0" cellspacing="0" border="0" style="margin-top:0;margin-bottom:0;margin-right:10px;margin-left:10px">
          <tbody>
            <tr style="border-collapse:collapse">
              <td width="640" height="20" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td>
            </tr>
            <tr style="border-collapse:collapse">
              <td width="640" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse">
                <table width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF" style="border-radius:6px 6px 0px 0px;background-color:#ee3a37;color:#d9fffd">
                  <tbody><tr style="border-collapse:collapse">
                    <td width="15" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td>
                    <td width="350" valign="middle" align="left" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse">
                      <table width="350" cellpadding="0" cellspacing="0" border="0">
                        <tbody><tr style="border-collapse:collapse"><td width="350" height="8" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td></tr>
                        </tbody></table>
                        <div style="font-size:12px;color:#d9fffd"><a href="http://www.bigtv.co.id/" style="font-weight:bold;color:#d9fffd;text-decoration:none" target="_blank">BigTv.co.id</a></div>

                        <table width="350" cellpadding="0" cellspacing="0" border="0">
                          <tbody><tr style="border-collapse:collapse"><td width="350" height="8" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td></tr>
                          </tbody></table>
                        </td>
                        <td width="30" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td>
                        <td width="255" valign="middle" align="right" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse">
                          <table width="255" cellpadding="0" cellspacing="0" border="0">
                            <tbody><tr style="border-collapse:collapse"><td width="255" height="8" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td></tr>
                            </tbody></table>
                            <table width="255" cellpadding="0" cellspacing="0" border="0">
                              <tbody><tr style="border-collapse:collapse"><td width="255" height="8" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td></tr>
                              </tbody></table>
                            </td>
                            <td width="15" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td>
                          </tr>
                        </tbody></table>
                        
                      </td>
                    </tr>
                    <tr style="border-collapse:collapse">
                      <td width="640" align="center" bgcolor="#FFFFFF" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse">
                        <div align="center" style="text-align:center">
                          <%= image_tag attachments['bigtv.png'].url, { border: 0, align: 'top', style: "display:inline;min-height:auto;line-height:100%;outline-style:none;text-decoration:none"} %>
                        </div>
                      </td>
                    </tr>

                    <tr style="border-collapse:collapse"><td width="640" height="30" bgcolor="#ffffff" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td></tr>
                    <tr style="border-collapse:collapse"><td width="640" bgcolor="#ffffff" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse">
                      <table width="640" cellpadding="0" cellspacing="0" border="0">
                        <tbody><tr style="border-collapse:collapse">
                          <td width="30" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td>
                          <td width="580" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse">

                            <table width="580" cellpadding="0" cellspacing="0" border="0">
                              <tbody><tr style="border-collapse:collapse">
                                <td width="580" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse">
                                  <p align="left" style="font-size:18px;line-height:24px;color:#ee3a37;font-weight:bold;margin-top:0px;margin-bottom:18px;font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif">Thanks for subscribing!</p>

                                  <div align="left" style="font-size:13px;line-height:18px;color:#444444;margin-top:0px;margin-bottom:18px;font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif">
                                    <p style="margin-bottom:15px">
                                     Terima kasih atas kepercayaan Anda untuk berlangganan dengan kami. Berikut summary dari paket yang Anda pilih: <span class="aBn" data-term="goog_1596539430" tabindex="0"><span class="aQJ"></span></span>.</p>

                                      <p style="margin-bottom:15px">
                                        ID Pelanggan: <%= @user.profile.first_name %> <br/>
                                        Alamat: <%= @user.profile.address %> <br/>
                                        Paket: 
                                        <ul>
                                          <% @order.items.each do |item| %>
                                            <li><%= item.title %> (<%= "Rp. #{number_to_currency(item.subtotal,{precision: 0, unit: ''})}" %>)</li>
                                          <% end %>
                                        </ul>
                                        Total: Rp. <%= number_to_currency(@order.total,{precision: 0, unit: ''}) %> <br/>
                                        Periode: <%= "#{@order.period} #{@order.period_name}" %>

                                       </p>
                                          <p style="margin-bottom:15px">
                                            alam waktu 1X24 jam, teknisi kami akan tiba di kediaman Anda dan siap melakukan proses instalasi.<br style="line-height:100%">
                                            Selamat menikmati tayangan-tayangan menarik channel lokal maupun mancanegara hanya di Big TV! <br style="line-height:100%">
                                            <a href="http://bigtv.co.id" style="color:#ee3a37;font-weight:bold;text-decoration:none" target="_blank">bigtv.co.id</a></p>
                                            <p style="margin-bottom:15px">
                                              &nbsp;</p>
                                            </div>
                                          </td>
                                        </tr>
                                        <tr style="border-collapse:collapse"><td width="580" height="10" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td></tr>
                                      </tbody></table>

                                    </td>
                                    <td width="30" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td>
                                  </tr>
                                </tbody></table>
                              </td></tr>
                              <tr style="border-collapse:collapse"><td width="640" height="15" bgcolor="#ffffff" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td></tr>

                              <tr style="border-collapse:collapse">
                                <td width="640" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse">
                                  <table width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#EE3A37" style="border-radius:0px 0px 6px 6px;background-color:#ee3a37;color:#d9fffd">
                                    <tbody><tr style="border-collapse:collapse"><td width="30" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td><td width="360" height="30" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse">
                                    </td><td width="60" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td><td width="160" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse">
                                  </td><td width="30" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td></tr>
                                  <tr style="border-collapse:collapse">
                                    <td width="30" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td>
                                    <td width="360" valign="top" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse">
                                  </td>
                                  <td width="60%" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td>
                                  <td width="60%" valign="top" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse">
                                    <p align="right" style="font-size:11px;line-height:16px;margin-top:0px;margin-bottom:15px;color:#d9fffd;white-space:normal"><span>BigTv</span><br style="line-height:100%">
                                      <span>Email : customer.service@bigtv.co.id</span><br style="line-height:100%">
                                      <span>Telp: 0804 1 222 222</span><br style="line-height:100%">
                                      <span>Fax (021) 557 77722</span></p>
                                    </td>
                                    <td width="30" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td>
                                  </tr>
                                  <tr style="border-collapse:collapse"><td width="30" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td><td width="360" height="15" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse">
                                  </td><td width="60" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td><td width="160" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse">
                                </td><td width="30" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td></tr>
                              </tbody></table>
                            </td>
                          </tr>
                          <tr style="border-collapse:collapse"><td width="640" height="60" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse"></td></tr>
                        </tbody></table>
                      </td>
                    </tr>
                  </tbody></table><img src="https://ci6.googleusercontent.com/proxy/xlgJnEw4MHLDFXBY_8iVqy87e_TQOASoqJIdwp2vlzls_faP36bwXeVg70SrEala87peP2FspQOWUPPefyrhhr18HuNELmLSaQ=s0-d-e1-ft#https://createsend4.com/t/j-o-mluukh-huqhhuur/o.gif" width="1" height="1" border="0" style="min-height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important;line-height:100%;outline-style:none;text-decoration:none;display:block"></div>
