<div style="width:100%!important;background-color:#ececec;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif">
  <table border="0" cellpadding="0" cellspacing="0" style="background-color:#ececec" width="100%">
    <tbody>
      <tr style="border-collapse:collapse">
        <td align="center" style="background-color: #ECECEC; border-collapse: collapse; font-family: Helvetica Neue,Arial,Helvetica,Geneva,sans-serif">
          <table border="0" cellpadding="0" cellspacing="0" style="margin-top:0;margin-bottom:0;margin-right:10px;margin-left:10px" width="640">
            <tbody>
              <tr style="border-collapse:collapse">
                <td height="20" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="640"></td>
              </tr>

              <tr style="border-collapse:collapse">
                <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="640">
                  <table border="0" cellpadding="0" cellspacing="0" style="background-color: #ee3a37; border-radius: 6px 6px 0px 0px; color: #d9fffd" width="640">
                    <tbody>
                      <tr style="border-collapse:collapse">
                        <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="15"></td>

                        <td align="left" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" valign="middle" width="350">
                          <table border="0" cellpadding="0" cellspacing="0" width="350">
                            <tbody>
                              <tr style="border-collapse:collapse">
                                <td height="8" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="350"></td>
                              </tr>
                            </tbody>
                          </table>

                          <div style="font-size:12px;color:#d9fffd">
                            <a href="http://www.big-tv.com/" style="font-weight:bold;color:#d9fffd;text-decoration:none" target="_blank">Big-Tv.com</a>
                          </div>

                          <table border="0" cellpadding="0" cellspacing="0" width="350">
                            <tbody>
                              <tr style="border-collapse:collapse">
                                <td height="8" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="350"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>

                        <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="30"></td>

                        <td align="right" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" valign="middle" width="255">
                          <table border="0" cellpadding="0" cellspacing="0" width="255">
                            <tbody>
                              <tr style="border-collapse:collapse">
                                <td height="8" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="255"></td>
                              </tr>
                            </tbody>
                          </table>

                          <table border="0" cellpadding="0" cellspacing="0" width="255">
                            <tbody>
                              <tr style="border-collapse:collapse">
                                <td height="8" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="255"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>

                        <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="15"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

              <tr style="border-collapse:collapse">
                <td align="center" style="background-color: #FFFFFF; border-collapse: collapse; font-family: Helvetica Neue,Arial,Helvetica,Geneva,sans-serif" width="640">
                  <div style="text-align: center">
                    <%= image_tag attachments['bigtv.png'].url, { border: 0, align: 'top', style: "display:inline;min-height:auto;line-height:100%;outline-style:none;text-decoration:none"} %>
                  </div>
                </td>
              </tr>

              <tr style="border-collapse:collapse">
                <td height="30" style="background-color: #FFFFFF; border-collapse: collapse; font-family: Helvetica Neue,Arial,Helvetica,Geneva,sans-serif" width="640"></td>
              </tr>

              <tr style="border-collapse:collapse">
                <td style="background-color: #FFFFFF; border-collapse: collapse; font-family: Helvetica Neue,Arial,Helvetica,Geneva,sans-serif" width="640">
                  <table border="0" cellpadding="0" cellspacing="0" width="640">
                    <tbody>
                      <tr style="border-collapse:collapse">
                        <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="30"></td>

                        <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="580">
                          <table border="0" cellpadding="0" cellspacing="0" width="580">
                            <tbody>
                              <tr style="border-collapse:collapse">
                                <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="580">
                                  <p style="color: #ee3a37; font-family: Helvetica Neue,Arial,Helvetica,Geneva,sans-serif; font-size: 18px; font-weight: bold; line-height: 24px; margin-bottom: 18px; margin-top: 0px; text-align: left">Verifikasi Online Pelanggan BigTV!</p>

                                  <div style="color: #444444; font-family: Helvetica Neue,Arial,Helvetica,Geneva,sans-serif; font-size: 13px; line-height: 18px; margin-bottom: 18px; margin-top: 0px; text-align: left">
                                    <p style="margin-bottom:15px">Selamat anda telah memiliki pelanggan baru dengan informasi sebagai berikut.</p>

                                    <p><b>INFO PELANGGAN</b></p>

                                    <table border="0" cellpadding="0" cellspacing="0" width="580">
                                      <tbody>
                                        <tr style="border-collapse:collapse">
                                          <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse;text-align:right;font-size:12;font-weight:bold;" width="100">
                                            No registrasi:
                                          </td>
                                          <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse;text-align:left;padding-left: 10px;font-size:12px;" width="400">
                                            <%= @user.code %>
                                          </td>
                                        </tr>
                                        <tr style="border-collapse:collapse">
                                          <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse;text-align:right;font-size:12;font-weight:bold;" width="100">
                                            Nama Pelanggan:
                                          </td>
                                          <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse;text-align:left;padding-left: 10px;font-size:12px;" width="400">
                                            <%= @user.profile.full_name %>
                                          </td>
                                        </tr>
                                        <tr style="border-collapse:collapse">
                                          <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse;text-align:right;font-size:12;font-weight:bold;" width="100">
                                            Email:
                                          </td>
                                          <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse;text-align:left;padding-left: 10px;font-size:12px;" width="400">
                                            <%= @user.email %>
                                          </td>
                                        </tr>
                                        <tr style="border-collapse:collapse">
                                          <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse;text-align:right;font-size:12;font-weight:bold;" width="100">
                                            Telp/HP:
                                          </td>
                                          <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse;text-align:left;padding-left: 10px;font-size:12px;" width="400">
                                            <%= [@user.profile.no_phone, @user.profile.no_hp].join(' / ') %>
                                          </td>
                                        </tr>
                                        <tr style="border-collapse:collapse">
                                          <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse;text-align:right;font-size:12;font-weight:bold;" width="100">
                                            Tanggal Lahir:
                                          </td>
                                          <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse;text-align:left;padding-left: 10px;font-size:12px;" width="400">
                                            <% if @user.profile.tanggal_lahir.is_a?(Date) %>
                                              <%= @user.profile.tanggal_lahir.strftime('%d %b %Y') %>
                                            <% else %>
                                              <%= @user.profile.tanggal_lahir %>
                                            <% end %>
                                          </td>
                                        </tr>
                                        <tr style="border-collapse:collapse">
                                          <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse;text-align:right;font-size:12;font-weight:bold;" width="100">
                                            Tipe Identitas:
                                          </td>
                                          <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse;text-align:left;padding-left: 10px;font-size:12px;" width="400">
                                            <%= @user.profile.tipe_identitas %>
                                          </td>
                                        </tr>
                                        <tr style="border-collapse:collapse">
                                          <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse;text-align:right;font-size:12;font-weight:bold;" width="100">
                                            Referral:
                                          </td>
                                          <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse;text-align:left;padding-left: 10px;font-size:12px;" width="400">
                                            <%= @user.profile.referal %>
                                          </td>
                                        </tr>
                                        <tr style="border-collapse:collapse">
                                          <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse;text-align:right;font-size:12;font-weight:bold;" width="100">
                                            Referral ID:
                                          </td>
                                          <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse;text-align:left;padding-left: 10px;font-size:12px;" width="400">
                                            <%= @user.profile.referal_id %>
                                          </td>
                                        </tr>
                                        <tr style="border-collapse:collapse">
                                          <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse;text-align:right;font-size:12;font-weight:bold;" width="100">
                                            Pengiriman Tagihan:
                                          </td>
                                          <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse;text-align:left;padding-left: 10px;font-size:12px;" width="400">
                                            <%= @user.profile.billing_method %>
                                          </td>
                                        </tr>
                                        <tr style="border-collapse:collapse">
                                          <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse;text-align:right;font-size:12;font-weight:bold;" width="100">
                                            Alamat Tinggal:
                                          </td>
                                          <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse;text-align:left;padding-left: 10px;font-size:12px;" width="400">
                                            <%= @user.profile.address %>
                                          </td>
                                        </tr>
                                        <tr style="border-collapse:collapse">
                                          <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse;text-align:right;font-size:12;font-weight:bold;" width="100">
                                            Alamat Pemasangan:
                                          </td>
                                          <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse;text-align:left;padding-left: 10px;font-size:12px;" width="400">
                                            <%= @user.profile.address_shipping %>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>

                                    <p style="margin-bottom:15px">Mohon dikirim untuk memberitahu adanya pelanggan baru. Untuk ke perluan verikasi pemesanan atau pembayaran, bisa dilacak dengan judul email:</p>

                                    <ul>
                                      <li>
                                         UNPAIDREGISTERD, <%= @user.code %>, <%= @user.full_name %>
                                      </li>
                                      <li>
                                        PAIDREGISTERED, <%= @user.code %>, <%= @user.full_name %>
                                      </li>
                                    </ul>

                                    <p><a href="http://big-tv.com" style="color:#ee3a37;font-weight:bold;text-decoration:none" target="_blank">BIG-TV SYSTEM</a>
                                    </p>

                                    <p style="margin-bottom:15px">&nbsp;</p>
                                  </div>
                                </td>
                              </tr>

                              <tr style="border-collapse:collapse">
                                <td height="10" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="580"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>

                        <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="30"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

              <tr style="border-collapse:collapse">
                <td height="15" style="background-color: #FFFFFF; border-collapse: collapse; font-family: Helvetica Neue,Arial,Helvetica,Geneva,sans-serif" width="640"></td>
              </tr>

              <tr style="border-collapse:collapse">
                <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="640">
                  <table border="0" cellpadding="0" cellspacing="0" style="background-color: #ee3a37; border-radius: 0px 0px 6px 6px; color: #d9fffd" width="640">
                    <tbody>
                      <tr style="border-collapse:collapse">
                        <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="30"></td>

                        <td height="30" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="360"></td>

                        <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="60"></td>

                        <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="160"></td>

                        <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="30"></td>
                      </tr>

                      <tr style="border-collapse:collapse">
                        <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="30"></td>

                        <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" valign="top" width="360"></td>

                        <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="60%"></td>

                        <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" valign="top" width="60%">
                          <p style="color: #d9fffd; font-size: 11px; line-height: 16px; margin-bottom: 15px; margin-top: 0px; padding-right: 20px; text-align: right; white-space: normal">
                          <span style="font-size: 14px;">HOTLINE: 0804 1 222 222</span><br style="line-height:100%">
                          <span style="font-size: 14px;">FAX: (021) 557 77722</span></p>
                        </td>

                        <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="30"></td>
                      </tr>

                      <tr style="border-collapse:collapse">
                        <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="30"></td>

                        <td height="15" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="360"></td>

                        <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="60"></td>

                        <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="160"></td>

                        <td style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="30"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>

              <tr style="border-collapse:collapse">
                <td height="60" style="font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;border-collapse:collapse" width="640"></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
