<%= render layout: 'shareds/back_office/prepare_table', 
           locals: {
                     table_name:  'Customers', 
                     button_name: 'Customer'
                   } do %>
  <table class="table table-hover" id="sample-table-1">
    <thead>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each_with_index do |customer,index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= customer.full_name %></td>
          <td><%= customer.email %></td>
          <td><%= customer.profile.no_hp %></td>
          <td>
            <%= render partial: 'shareds/back_office/action_buttons', locals: {resource: customer, confirmation: "#{customer.full_name} will be deleted, are you sure ?"} %>
            </div>
          </td>
        </tr>  
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @customers %>
  </div>
<% end %>