<%= render layout: 'shareds/back_office/prepare_table', 
           locals: {
                     table_name:  'Customers', 
                     button_name: 'Customer'
                   } do %>
  <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
    <thead>
      <tr>
        <th>Created at</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each_with_index do |customer,index| %>
        <tr>
          <td><b><%= customer.created_at.strftime('%d %b %Y - at %I:%M%p') %></b></td>
          <td><%= customer.full_name %></td>
          <td><%= customer.email %></td>
          <td><%= customer.profile.no_hp %></td>
          <td>
            <%= render partial: 'shareds/back_office/action_buttons', locals: {resource: customer, confirmation: "#{customer.full_name} will be deleted, are you sure ?"} %>
            </div>
          </td>
        </tr>  
      <% end %>
    </tbody>
  </table>
<% end %>