<%= render layout: 'shareds/back_office/prepare_table', 
           locals: {
                     table_name:  'Referrals', 
                     button_name: 'Referral'
                   } do %>
  <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>No</th>
        <th>Code</th>
        <th>Name</th>
        <th class="mbl_hide">Email</th>
        <th class="mbl_hide">Phone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @referrals.each_with_index do |referral,index| %>
        <tr>
          <td style="text-align:center"><%= image_tag referral.profile.avatar.url(:medium),height: '60px'%></td>
          <td style="text-align:center"><%= index+1 %></td>
          <td><b><%= referral.code %></b></td>
          <td><%= referral.full_name %></td>
          <td class="mbl_hide"><%= referral.email %></td>
          <td class="mbl_hide"><%= referral.profile.no_hp %></td>
          <td>
            <%= render partial: 'shareds/back_office/action_buttons', locals: {resource: referral, confirmation: "#{referral.full_name} will be deleted, are you sure ?"} %>
            </div>
          </td>
        </tr>  
      <% end %>
    </tbody>
  </table>
<% end %>