<section class="wraper_bg-bright bg-raw  fbscroll_item special_line_rotated_left" id="team">
	<h1 class="gray"><span class="black">GET FREE</span> Pack 50 Channels</h1>
	<br>
	<div class="cbp-so-scroller team_scroller_mobile_cont">
		<div class="team_members cbp-so-section">
			<div class="member cbp-so-side cbp-so-side-top">
				<div><%= image_tag "logotv/Berita_Satu.png";%></div>
			</div>

			<div class="member cbp-so-side cbp-so-side-top">
				<div><%= image_tag "logotv/Blnetoomberg_Television.png";%></div>
			</div>

			<div class="member cbp-so-side cbp-so-side-top">
				<div><%= image_tag "logotv/NET_TV.png";%></div>
			</div>

			<div class="member cbp-so-side cbp-so-side-top">
				<div><%= image_tag "logotv/Kompas_TV.png";%></div>
			</div>

			<div class="member cbp-so-side cbp-so-side-top">
				<div><%= image_tag "logotv/Trans_7.png";%></div>
			</div>

			<div class="member cbp-so-side cbp-so-side-top">
				<div><%= image_tag "logotv/Trans_TV.png";%></div>
			</div>

			<div class="member cbp-so-side cbp-so-side-top">
				<div><%= image_tag "logotv/SCTV.png";%></div>
			</div>

			<div class="member cbp-so-side cbp-so-side-top">
				<div><%= image_tag "logotv/anteve.png";%></div>
			</div>

			<div class="member cbp-so-side cbp-so-side-top">
				<div><%= image_tag "logotv/TVRI.png";%></div>
			</div>

			<div class="member cbp-so-side cbp-so-side-top">
				<div><%= image_tag "logotv/Bandung_TV.png";%></div>
			</div>

			<div class="member cbp-so-side cbp-so-side-top">
				<div><%= image_tag "logotv/ESPN_HD.png";%></div>
			</div>

			<div class="member cbp-so-side cbp-so-side-top">
				<div><%= image_tag "logotv/FOX.png";%></div>
			</div>

			<div class="member cbp-so-side cbp-so-side-top">
				<div><%= image_tag "logotv/MiX_HD.png";%></div>
			</div>

			<div class="member cbp-so-side cbp-so-side-top">
				<div><%= image_tag "logotv/NDTV_24_x_7.png";%></div>
			</div>

			<div class="member cbp-so-side cbp-so-side-top">
				<div><%= image_tag "logotv/TV_One.png";%></div>
			</div>

		</div>
	</div>
	<div class="br"></div>
	<div class="trial"><a>VIEW MORE</a></div>
	<div class="polosochka"></div>
</section>