<section class="wraper_bg-bright" id="features">
	<div class="cbp-so-scroller feature_cont_slider_mobile add-margin-top10">
    <div class="feature_cont cbp-so-section" >
			<% @features.each do |features| %>
				<%= features.description.html_safe %>
			<% end %>
		</div>
	</div>             	
	<section class="paging paging-main mbl-paging" id="feature_cont_slider_mobile_paging">
		<div class="dot selected"></div>
		<div class="dot"></div>
		<div class="dot"></div>
	</section>		
	<div class="polosochka"></div>
</section>      
<div class="why_us">
	<div class="h1_why_us">
		<h1><span>MENGAPA MEMILIH BIGTV</span></h1>
	</div>
	<div class="polosochka2"></div>
	<div class="br"></div>
	<div class="why_section cbp-so-section">
			<ul class="nav nav-tabs">
				<% @why_bigtv.each do |why_bigtv| %>
				  <li><a href="#<%= why_bigtv.title%>" data-toggle="tab"><%= why_bigtv.title%></a></li>
				<% end %>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<% @why_bigtv.each_with_index do |why_bigtv,index| %> 
				  <div class="tab-pane <%= " active" if index == 0 %>" id="<%= why_bigtv.title%>">
				  	<%= image_tag why_bigtv.picture, width: '100%'%>
				  </div>
			  <% end %>
			</div>
	</div>
</div>
