<section class="wraper_bg-bright" id="features">
	<div class="cbp-so-scroller feature_cont_slider_mobile add-margin-top10">
    <div class="feature_cont cbp-so-section" >
			<div class="feature cbp-so-side cbp-so-side-left">
				<div class="img_border2 hi-icon">
					<div class="counter_item">
						<span id="counter-1">177<span class="small-counter"></span></span>
						<h3>CHANNELS</h3>
					</div>
				</div>
				<h3><span>KUANTITAS</span></h3>
				<p>BigTV yang paling besar di Indonesia. Dengan 177 saluran, semua pasti menemukan yang dia inginkan.</p>
				<div class="horizontal h-pc"></div>
			</div>
			<div class="feature cbp-so-side cbp-so-side-left">
				<div class="img_border2 hi-icon">
					<div class="counter_item">
						<span id="counter-2">24<span class="small-counter">HD</span></span>
						<h3>CHANNELS</h3>
					</div>
				</div>
				<h3><span>KUALITAS</span></h3>
				<p>BigTV memberikan tayangan HD paling banyak di Indonesia, dengan kualitas yang paling bagus. Sudah waktunya TV HD anda ditonton dengan tayangan yang juga HD.</p>
				<div class="horizontal h-pc"></div>
			</div>
			<div class="feature cbp-so-side cbp-so-side-left">
				<div class="img_border2 hi-icon">
					<div class="counter_item">
						<span id="counter-3">40<span class="small-counter">%</span></span>
						<h3>LEBIH EKONOMIS</h3>
					</div>
				</div>
				<h3><span>HARGA</span></h3>
				<p>BigTV paling ekonomis. Inilah komitmen kami - memberikan tayangan paling banyak, paling baik, dengan harga yang paling ekonomis.</p>
				<div class="horizontal h-pc"></div>
			</div>
		</div>
	</div>             	
	<section class="paging paging-main mbl-paging" id="feature_cont_slider_mobile_paging">
		<div class="dot selected"></div>
		<div class="dot"></div>
		<div class="dot"></div>
	</section>		
	<div class="polosochka"></div>
</section>      
<div class="why_us">
	<div class="h1_why_us">
		<h1><span>MENGAPA MEMILIH BIGTV</span></h1>
	</div>
	<div class="polosochka2"></div>
	<div class="br"></div>
	<div class="br"></div>
	<div class="why_section cbp-so-section">
			<ul class="nav nav-tabs">
			  <li><a href="#bonus" data-toggle="tab">BONUS</a></li>
			  <li><a href="#channel" data-toggle="tab">CHANNEL</a></li>
			  <li><a href="#kualitas" data-toggle="tab">KUALITAS</a></li>
			  <li><a href="#terjangkau" data-toggle="tab">TERJANGKAU</a></li>
			  <li><a href="#layanan" data-toggle="tab">LAYANAN</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
			  <div class="tab-pane active" id="bonus">
			  	<%= image_tag "why_us/1.jpg"%>
			  </div>
			  <div class="tab-pane" id="channel">
			  	<%= image_tag "why_us/2.png"%>
			  </div>
			  <div class="tab-pane" id="kualitas">
			  	<%= image_tag "why_us/3.png" %>
			  </div>
			  <div class="tab-pane" id="terjangkau">
			  	<%= image_tag "why_us/4.png" %>
			  </div>
			  <div class="tab-pane" id="layanan">
			  	<%= image_tag "why_us/5.png" %>
			  </div>
			</div>
	</div>
</div>
