<footer class="wraper">
	<section class="head-els footer foo">
		<div class="click_footer_more">
			<div class="grd_masonry_footer">
			  <div class="grid_packages_footer">
			  	<h3><span class="italic">BiG</span> TV</h3>
			  	<div class="br"></div>
			  	<div class="post">
				  	<%= @about_bigtv.description.html_safe %>
				  </div>
			   	<h3>Follow US</h3>
			  	<div class="br"></div>
			  	<a href="https://twitter.com/BiGTiVi" target="_blank">
			  		<%= image_tag "twitt.png",class: "lazy"%>
			  	</a>
			  	<a href="https://www.facebook.com/bigtivi" target="_blank">
			  		<%= image_tag "fb.png",class: "lazy" %>
			  	</a>
			  </div>
			  <div class="grid_packages_footer">
					<h3>Latest on Twitter</h3>
					<div class="br"></div>
					<div id="block-twitter-block-1" class="block block-twitter-block">
					  <div class="content">
					    <a href="https://twitter.com/twitterapi" class="twitter-timeline" data-widget-id="394698155398139905" width="300" height="240" data-chrome="transparent" data-border-color="#FFF200" data-theme="dark" aria-polite="polite" data-link-color="#fff200">Tweets by @twitterapi</a>
					  </div>
					</div>
				</div>
			  <div class="grid_packages_footer fb_widget_block">
			  	<h3>Latest on Facebook</h3>
			  	<div class="br"></div>
			  	<div class="fb-like-box" data-href="http://www.facebook.com/BigTivi" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
			  </div>
			</div>
		</div>
		<div class="br"></div>
		<div class="sct-footer">
			<div class="trial butt" id="click_footer_more"><a>SOCIAL MEDIA</a></div>
			<div class="trial butt" id="butt_careers">
				<%= link_to "CAREER", careers_path %>
			</div>
		</div>
		<div class="info-footer">
			<%= @footer.description.html_safe %>
		</div>
	</section>
</footer>
<div id="fb-root"></div>