<div class="head_bander">
  <header class="wraper head" id="nav">
    <div class="mask"></div>
    <section class="head-els">
      <div class="logo" onclick="$('.menu li a').first().click();">
        <%= link_to "#{image_tag 'bigtv.png', height: '80px',class: "lazy"}".html_safe, root_path %>
      </div>
      <ul class="menu h-pc">
      	<li><a href="#intro" onclick="window.location='/#intro'">intro</a></li>
				<li><a href="#features" onclick="window.location='/#features'">fitur</a></li>
				<li><a href="#team" onclick="window.location='/#team'">channel</a></li>
				<li><a href="#plan" onclick="window.location='/#plan'">paket</a></li>
				<li><a href="#map" onclick="window.location='/#map'">lokasi</a></li>
				<li><a href="#blog" onclick="window.location='/#blog'">promo</a></li>
				<li><a href="#support" onclick="window.location='/support'">support</a></li>
				<li><a href="#carriers" onclick="window.location='/carriers'">carriers</a></li>
			</ul>
			<% if current_user %>
				<div class="btn-group overide">
	        <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
	          <%= image_tag current_user.profile.avatar.url(:medium), class: "circle-img", height: '35px'%>
						<span class="username"><%= current_user.email if current_user %></span>
						<span class="caret"></span>
	        </button>
	        <ul class="dropdown-menu">
				  	<li>
							<%= link_to "Dashboard".html_safe, dashboard_path %>
						</li>
						<li>
							<%= link_to manage_orders_path do %>
								<span class='title'> List Subscriptions</span>
							<% end %>
						</li>
						<li>
							<%= link_to new_customer_manage_orders_path do %>
								<span class='title'> Add Subscription </span>
							<% end %>
						</li>
				    <li>
							<%= link_to "My Profile".html_safe, edit_manage_user_path(current_user.id) %>
						</li>
						<li>
							<%= link_to "SignOut".html_safe, destroy_user_session_path, :method => :delete %>
						</li>
				  </ul>
	      </div>
			<% end %>
			<div class="mbl-menu" id="mbl-button">
				<div class="mbl_menu_el"></div>
				<div class="mbl_menu_el"></div>
				<div class="mbl_menu_el"></div>
			</div>
			<ul class="mbl_menu_cont" id="mbl-menu">
				<li><a href="#features" onclick="window.location='/#features'">fitur</a></li>
				<li><a href="#team" onclick="window.location='/#team'">channel</a></li>
				<li><a href="#plan" onclick="window.location='/#plan'">paket</a></li>
				<li><a href="#map" onclick="window.location='/#map'">lokasi</a></li>
				<li><a href="#blog" onclick="window.location='/#blog'">promo</a></li>
				<li><a href="#support" onclick="window.location='/support'">support</a></li>
			</ul>
      <div class="clear"></div>
    </section>
  </header>
</div>
