<section class="wraper_bg-bright map"  id="map">
	<div class="map1">
		<h1><span>DEALER LOCATOR</span></h1>
		<div class="polosochka2"></div>
		<h3>Kunjungi dealer-dealer kami yang tersebar di seluruh Indonesia. <br>Proses berlangganan tidak pernah semudah dan sesimpel ini!</h3>
		<div class="br"></div>
		<div class="br"></div>
		<div class="team_members cbp-so-section cbp-so-init cbp-so-animate">
			<div style="display:table; margin-left:auto; margin-right:auto">
				<div class="pack-order float-left"><a href="?regional=Sumatra&#map">SUMATRA</a></div>
				<div class="pack-order float-left"><a href="?regional=Jawa Madura&#map">JAWA + MADURA</a></div>
				<div class="pack-order float-left"><a href="?regional=Kalimantan&#map">KALIMANTAN</a></div>
				<div class="pack-order float-left"><a href="?regional=Sulawesi&#map">SULAWESI</a></div>
				<div class="pack-order float-left"><a href="?regional=Bali&#map">BALI</a></div>
				<div class="pack-order float-left"><a href="?regional=Nusa Tenggara&#map">NUSA TENGGARA</a></div>
				<div class="pack-order float-left"><a href="?regional=Maluku Papua&#map">MALUKU + PAPUA</a></div>
			</div>
		</div>
		<div class="br2"></div>
		<div class="br2"></div>
		<div id="map_section">
		</div>
	</div>
	<div class="bar_search">
		<div class="f_search" style="width:80%">
			<span class="font_search">Search Dealer</span>
		  <form class="search_form" action="#" method="POST"> 
			  <input class="search1" type="search" name="email" placeholder="Dealer Locations">
			  <input class="search2" type="submit" name="subscribe" value="Go Search">
		  </form>
		  <div class="clear"></div>
   	</div>
	</div>
	<div class="br"></div>
	<div class="team_members cbp-so-section cbp-so-init cbp-so-animate">
		<div style="display:table; margin-left:auto; margin-right:auto">
			<div class="pack-order float-left"><a href="?regional=Sumatra&#map">SUMATRA</a></div>
			<div class="pack-order float-left"><a href="?regional=Jawa Madura&#map">JAWA + MADURA</a></div>
			<div class="pack-order float-left"><a href="?regional=Kalimantan&#map">KALIMANTAN</a></div>
			<div class="pack-order float-left"><a href="?regional=Sulawesi&#map">SULAWESI</a></div>
			<div class="pack-order float-left"><a href="?regional=Bali&#map">BALI</a></div>
			<div class="pack-order float-left"><a href="?regional=Nusa Tenggara&#map">NUSA TENGGARA</a></div>
			<div class="pack-order float-left"><a href="?regional=Maluku Papua&#map">MALUKU + PAPUA</a></div>
		</div>
	</div>
	<div class="br2"></div>
	<div class="br2"></div>
	<article class="packs-cont cbp-so-scroller" style="text-align:left">
		<div class="panel-body">
			<div class="category_location">HYPERMART</div>
			<table class="grd_masonry_location">
				<thead>
					<tr>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<% @locations_hypermart.each do |location| %>
						<tr class="grid_packages_location">
							<td>
					    	<div class="title_loc"><%= location.name %></div>
					    	<span class="symbol_category"><%= location.category_office.name %></span>
					    	<div><%= location.address %></div>
					    	<div class="phone"><%= image_tag "phone.png" %> <%= location.phone_area %> <%= location.no_phone %></div>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<% if @locations_mall.present? %>
			<hr>
			<div class="panel-body">
				<div class="category_location">MALL</div>
				<div class="grd_masonry_location">
			    <% @locations_mall.each do |location| %>
				    <div class="grid_packages_location">
				    	<div class="title_loc"><%= location.name %></div>
				    	<span class="symbol_category"><%= location.category_office.name %></span>
				    	<div><%= location.address %></div>
				    	<div class="phone"><%= image_tag "phone.png" %> <%= location.phone_area %> <%= location.no_phone %></div>
				    </div>
			    <% end %>
			  </div>
			</div>
		<% end %>
		<% if @locations_dealer.present? %>
			<hr>
			<div class="panel-body">
				<div class="category_location">DEALER</div>
				<div class="grd_masonry_location">
			    <% @locations_dealer.each do |location| %>
				    <div class="grid_packages_location">
				    	<div class="title_loc"><%= location.name %></div>
				    	<span class="symbol_category"><%= location.category_office.name %></span>
				    	<div><%= location.address %></div>
				    	<div class="phone"><%= image_tag "phone.png" %> <%= location.phone_area %> <%= location.no_phone %></div>
				    </div>
			    <% end %>
			  </div>
			</div>
		<% end %>
	</article>
</section>