<section class="wraper_bg-bright map"  id="map">
	<div class="map1">
		<h1><span>DEALER LOCATOR</span></h1>
		<div class="polosochka2"></div>
		<h3>Kunjungi dealer-dealer kami yang tersebar di seluruh Indonesia. <br>Proses berlangganan tidak pernah semudah dan sesimpel ini!</h3>
		<div class="br"></div>
		<div class="br"></div>
		<div class="team_members cbp-so-section cbp-so-init cbp-so-animate">
			<div style="display:table; margin-left:auto; margin-right:auto">
				<div class="pack-order float-left">SUMATERA</div>
				<div class="pack-order float-left">JAWA + MADURA</div>
				<div class="pack-order float-left">KALIMANTAN</div>
				<div class="pack-order float-left">SULAWESI</div>
				<div class="pack-order float-left">BALI</div>
				<div class="pack-order float-left">NUSA TENGGARA</div>
				<div class="pack-order float-left">MALUKU + PAPUA</div>
			</div>
		</div>
		<div class="br2"></div>
		<div class="br2"></div>
		<div id="map_section">
		</div>
	</div>
	<div class="bar_search">
		<div class="f_search" style="width:80%">
			<span class="font_search">Search Dealer</span>
		  <form class="search_form" action="#" method="POST"> 
			  <input class="search1" type="text" name="email" placeholder="Dealer Locations">
			  <input class="search2" type="submit" name="subscribe" value="Go Search">
		  </form>
		  <div class="clear"></div>
   	</div>
	</div>
	<div class="br"></div>
	<div class="team_members cbp-so-section cbp-so-init cbp-so-animate">
		<div style="display:table; margin-left:auto; margin-right:auto">
			<div class="pack-order float-left">SUMATERA</div>
			<div class="pack-order float-left">JAWA + MADURA</div>
			<div class="pack-order float-left">KALIMANTAN</div>
			<div class="pack-order float-left">SULAWESI</div>
			<div class="pack-order float-left">BALI</div>
			<div class="pack-order float-left">NUSA TENGGARA</div>
			<div class="pack-order float-left">MALUKU + PAPUA</div>
		</div>
	</div>
	<div class="br2"></div>
	<div class="br2"></div>
	<article class="packs-cont cbp-so-scroller" style="text-align:left">
		<div class="panel-body">
			<div class="category_location">HYPERMART</div>
			<div class="grd_masonry_location">
		    <div class="grid_packages_location">
		    	<div class="title_loc">HPM Gajah Mada</div>
		    	<span class="symbol_category">HYPERMART</span>
		    	<div class="uppercase">GAJAH MADA PLAZA</div>
		    	<div>Jl.Gajah Mada No.19-26</div>
		    	<div>Jakarta Pusat</div>
		    	<div class="phone"><%= image_tag "phone.png" %> +62857 7777 5345</div>
		    </div>
		     <div class="grid_packages_location">
		    	<div class="title_loc">HPM Gajah Mada</div>
		    	<span class="symbol_category">HYPERMART</span>
		    	<div class="uppercase">GAJAH MADA PLAZA</div>
		    	<div>Jl.Gajah Mada No.19-26</div>
		    	<div>Jakarta Pusat</div>
		    	<div class="phone"><%= image_tag "phone.png" %> +62857 7777 5345</div>
		    </div>
		     <div class="grid_packages_location">
		    	<div class="title_loc">HPM Gajah Mada</div>
		    	<span class="symbol_category">HYPERMART</span>
		    	<div class="uppercase">GAJAH MADA PLAZA</div>
		    	<div>Jl.Gajah Mada No.19-26</div>
		    	<div>Jakarta Pusat</div>
		    	<div class="phone"><%= image_tag "phone.png" %> +62857 7777 5345</div>
		    </div>
		     <div class="grid_packages_location">
		    	<div class="title_loc">HPM Gajah Mada</div>
		    	<span class="symbol_category">HYPERMART</span>
		    	<div class="uppercase">GAJAH MADA PLAZA</div>
		    	<div>Jl.Gajah Mada No.19-26</div>
		    	<div>Jakarta Pusat</div>
		    	<div class="phone"><%= image_tag "phone.png" %> +62857 7777 5345</div>
		    </div>
		     <div class="grid_packages_location">
		    	<div class="title_loc">HPM Gajah Mada</div>
		    	<span class="symbol_category">HYPERMART</span>
		    	<div class="uppercase">GAJAH MADA PLAZA</div>
		    	<div>Jl.Gajah Mada No.19-26</div>
		    	<div>Jakarta Pusat</div>
		    	<div class="phone"><%= image_tag "phone.png" %> +62857 7777 5345</div>
		    </div>
		     <div class="grid_packages_location">
		    	<div class="title_loc">HPM Gajah Mada</div>
		    	<span class="symbol_category">HYPERMART</span>
		    	<div class="uppercase">GAJAH MADA PLAZA</div>
		    	<div>Jl.Gajah Mada No.19-26</div>
		    	<div>Jakarta Pusat</div>
		    	<div class="phone"><%= image_tag "phone.png" %> +62857 7777 5345</div>
		    </div>
		     <div class="grid_packages_location">
		    	<div class="title_loc">HPM Gajah Mada</div>
		    	<span class="symbol_category">HYPERMART</span>
		    	<div class="uppercase">GAJAH MADA PLAZA</div>
		    	<div>Jl.Gajah Mada No.19-26</div>
		    	<div>Jakarta Pusat</div>
		    	<div class="phone"><%= image_tag "phone.png" %> +62857 7777 5345</div>
		    </div>
		     <div class="grid_packages_location">
		    	<div class="title_loc">HPM Gajah Mada</div>
		    	<span class="symbol_category">HYPERMART</span>
		    	<div class="uppercase">GAJAH MADA PLAZA</div>
		    	<div>Jl.Gajah Mada No.19-26</div>
		    	<div>Jakarta Pusat</div>
		    	<div class="phone"><%= image_tag "phone.png" %> +62857 7777 5345</div>
		    </div>
		  </div>
		</div>
		<div class="br"></div>
		<div class="trial"><a>VIEW MORE</a></div>
		<hr>
		<div class="panel-body">
			<div class="category_location">MALL</div>
			<div class="grd_masonry_location">
		    <div class="grid_packages_location">
		    	<div class="title_loc">HPM Gajah Mada</div>
		    	<span class="symbol_category">HYPERMART</span>
		    	<div class="uppercase">GAJAH MADA PLAZA</div>
		    	<div>Jl.Gajah Mada No.19-26</div>
		    	<div>Jakarta Pusat</div>
		    	<div class="phone"><%= image_tag "phone.png" %> +62857 7777 5345</div>
		    </div>
		     <div class="grid_packages_location">
		    	<div class="title_loc">HPM Gajah Mada</div>
		    	<span class="symbol_category">HYPERMART</span>
		    	<div class="uppercase">GAJAH MADA PLAZA</div>
		    	<div>Jl.Gajah Mada No.19-26</div>
		    	<div>Jakarta Pusat</div>
		    	<div class="phone"><%= image_tag "phone.png" %> +62857 7777 5345</div>
		    </div>
		     <div class="grid_packages_location">
		    	<div class="title_loc">HPM Gajah Mada</div>
		    	<span class="symbol_category">HYPERMART</span>
		    	<div class="uppercase">GAJAH MADA PLAZA</div>
		    	<div>Jl.Gajah Mada No.19-26</div>
		    	<div>Jakarta Pusat</div>
		    	<div class="phone"><%= image_tag "phone.png" %> +62857 7777 5345</div>
		    </div>
		     <div class="grid_packages_location">
		    	<div class="title_loc">HPM Gajah Mada</div>
		    	<span class="symbol_category">HYPERMART</span>
		    	<div class="uppercase">GAJAH MADA PLAZA</div>
		    	<div>Jl.Gajah Mada No.19-26</div>
		    	<div>Jakarta Pusat</div>
		    	<div class="phone"><%= image_tag "phone.png" %> +62857 7777 5345</div>
		    </div>
		  </div>
		</div>
	</article>
</section>