<section class="wraper_bg-bright special_line_rotated_righ" id="plan">
	<h1><span>PAKET</span> & <span>CHANNEL</span></h1>
	<div class="polosochka2"></div>
  <h3>
  	Tersedia ratusan channel dalam berbagai paket sesuai keinginan Anda.<br>
		Segera berlangganan dan rasakan kualitas tayangan terbaik.
	</h3>

	<article class="packs-cont cbp-so-scroller">
  	<table class="table table-bordered different_width margin_bottom_no">
	    <tbody>
	      <tr>
	      	<td rowspan="2" class="head_pack side_table side_paket padding_top20">
	      		<span class="alfa2">
			      P
			      </span>
			      <span class="alfa2">
			      A
			      </span>
			      <span class="alfa2">
			      K
			      </span>
			      <span class="alfa2">
			      e
			      </span>
			      <span class="alfa2">
			      T
			      </span>
	      	</td>
          <% @selected_items = @order ? @order.items.map(&:membership_id) : [] %>
	        <% @memberships.each do |membership| %>
	          <td class="td_diff">
	            <div class="head_pack red">
								<div class="big-decode2">BiG</div>
								<span class="small-counter2"><%= membership.name %></span>
			    		</div>
			    		<table class="table table-bordered padding0 decode no_border">
					      <tbody class="gray_packages">
				          <tr>
				            <td>
				            	<div class="br"></div>
				              <div class="pack-info">
												<div class="pack-i-line">
													Rp.
													<span class="prc">
														<%= number_to_currency(membership.price_month,{unit: '', precision: 0}) %>
													</span>
												</div>
											</div>
											<div class="br"></div>
											<div class="br"></div>
											<%= link_to extra_path(membership_id: membership.id),{class: 'no_underscore'} do %>
							          <div class='pack-order version2'>SUBSCRIBE</div>
											<% end %>
				            </td>
				          </tr>
					      </tbody>
					    </table>
	          </td>
	        <% end %>
	      </tr>
	    </tbody>
	  </table>
		<%= render partial: "shareds/front/table_packages", locals: {memberships: @memberships.map(&:id)} %>
  </article>
  <br><br>
	<div class="polosochka"></div>
</section>


<section class="wraper_bg-bright extra_packages border_bottom">
  <h1><span>EXTRA</span> PACKAGES</h1>
  <div class="polosochka2"></div>
  <article class="packs-cont cbp-so-scroller" style="text-align:left">
      <div class="panel-body">
      	<div class="panel-group" id="accordion">
      		<% @memberships_extra.each_with_index do |membership,index| %>
            <div class="panel panel-default">
              <div class="panel-heading red-h">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse<%= membership.id %>">
                    <span class="title_ord italic">BiG</span>
                    <span class="title_ord"><%= membership.name %></span>
                    <span class="left-mrg">Rp.</span>
                    <b><%= number_to_currency(membership.price_month,{unit: '', precision: 0}) %>,-</b>
                    <div class="tb"></div>
                  </a>
                  <% if membership.name =~ /BPL Bola/i  %>
	                  <%= image_tag "star.png", height: "40px", style: "position:absolute; top: 5px;" %>
	                <% end %>
                </h4>
              </div>
              <div id="collapse<%= membership.id %>" class="panel-collapse in">
                <div class="panel-body">
			            	<% membership.unit_items.each do |item| %>
			                <div class="div_packages_extra_new">
			                  <% if item.status_hd %>
			                    <span class="hd2">HD</span>
			                  <% end %>
			                  <span class="name_channel2"><%= item.name %></span>
			                  <%= image_tag item.logo.url(:thumb), { class: "small_image", alt: item.logo.name }  %>
			                </div>
			              <% end %>
                </div>
              </div>
            </div>
          <% end %>
				</div>
      </div>
  </article>
</section>