<section class="wraper_bg-bright bg-raw  fbscroll_item special_line_rotated_left" id="gallery">
	<h1>FEATURED<span>PROGRAMMES</span></h1>
	<div class="polosochka2"></div>
	<h3>Tak sabar menunggu episode terkini serial TV favorit Anda?<br> Mendengarkan video klip penyanyi idola? Atau ingin menyaksikan pertarungan seru Liga Inggris musim 2013-2014? <br>Anda bisa menikmati itu semua hanya di Big TV!</h3>
	
	<div class="gallery_cont">
		<div class="opie-portfolio"> 
			<div class="o-inner-wrapper"> 

				<div class="o-box" data-opie-filter="first" > 
					<%= image_tag "assets/gallery/1.png", "data-opie-src" => "assets/gallery/1-big.png", class: "o-big-image" %>
					<div class="o-cover"> 
						<%= image_tag "assets/gallery/1.png", "data-opie-src" => "assets/gallery/1.png", class: "o-thumb-image" %>
	
						<h2>AMAZING THE POINER</h2> 
						<p> 
							<span class="caps">Indovision</span> 
							<span class="caps">Fox TV</span> 
						</p> 
					</div> 
				</div> 

				<div class="o-box" data-opie-filter="first" > 
					<%= image_tag "assets/gallery/2.png", "data-opie-src" => "assets/gallery/2.png", class: "o-big-image" %>
					<div class="o-cover"> 
						<%= image_tag "assets/gallery/2.png", "data-opie-src" => "assets/gallery/2.png", class: "o-thumb-image" %>
	
						<h2>AMAZING THE POINER</h2> 
						<p> 
							<span class="caps">Indovision</span> 
							<span class="caps">Fox TV</span> 
						</p> 
					</div> 
				</div> 

				<div class="o-box" data-opie-filter="first" > 
					<%= image_tag "assets/gallery/3.png", "data-opie-src" => "assets/gallery/3-big.png", class: "o-big-image" %>
					<div class="o-cover"> 
						<%= image_tag "assets/gallery/3.png", "data-opie-src" => "assets/gallery/3.png", class: "o-thumb-image" %>
	
						<h2>AMAZING THE POINER</h2> 
						<p> 
							<span class="caps">Indovision</span> 
							<span class="caps">Fox TV</span> 
						</p> 
					</div> 
				</div> 

				<div class="o-box" data-opie-filter="first" > 
					<%= image_tag "assets/gallery/4.png", "data-opie-src" => "assets/gallery/4.png", class: "o-big-image" %>
					<div class="o-cover"> 
						<%= image_tag "assets/gallery/4.png", "data-opie-src" => "assets/gallery/4.png", class: "o-thumb-image" %>
	
						<h2>AMAZING THE POINER</h2> 
						<p> 
							<span class="caps">Indovision</span> 
							<span class="caps">Fox TV</span> 
						</p> 
					</div> 
				</div> 

				<div class="o-box" data-opie-filter="first" > 
					<%= image_tag "assets/gallery/5.png", "data-opie-src" => "assets/gallery/5-big.png", class: "o-big-image" %>
					<div class="o-cover"> 
						<%= image_tag "assets/gallery/5.png", "data-opie-src" => "assets/gallery/5.png", class: "o-thumb-image" %>
	
						<h2>AMAZING THE POINER</h2> 
						<p> 
							<span class="caps">Indovision</span> 
							<span class="caps">Fox TV</span> 
						</p> 
					</div> 
				</div> 

				<div class="o-box" data-opie-filter="first" > 
					<%= image_tag "assets/gallery/6.png", "data-opie-src" => "assets/gallery/6.png", class: "o-big-image" %>
					<div class="o-cover"> 
						<%= image_tag "assets/gallery/6.png", "data-opie-src" => "assets/gallery/6.png", class: "o-thumb-image" %>
	
						<h2>AMAZING THE POINER</h2> 
						<p> 
							<span class="caps">Indovision</span> 
							<span class="caps">Fox TV</span> 
						</p> 
					</div> 
				</div> 

				<div class="o-box" data-opie-filter="first" > 
					<%= image_tag "assets/gallery/7.png", "data-opie-src" => "assets/gallery/7.png", class: "o-big-image" %>
					<div class="o-cover"> 
						<%= image_tag "assets/gallery/7.png", "data-opie-src" => "assets/gallery/7.png", class: "o-thumb-image" %>
	
						<h2>AMAZING THE POINER</h2> 
						<p> 
							<span class="caps">Indovision</span> 
							<span class="caps">Fox TV</span> 
						</p> 
					</div> 
				</div> 

				<div class="o-box" data-opie-filter="first" > 
					<%= image_tag "assets/gallery/8.png", "data-opie-src" => "assets/gallery/8.png", class: "o-big-image" %>
					<div class="o-cover"> 
						<%= image_tag "assets/gallery/8.png", "data-opie-src" => "assets/gallery/8.png", class: "o-thumb-image" %>
	
						<h2>AMAZING THE POINER</h2> 
						<p> 
							<span class="caps">Indovision</span> 
							<span class="caps">Fox TV</span> 
						</p> 
					</div> 
				</div> 

				<div class="o-box" data-opie-filter="first" > 
					<%= image_tag "assets/gallery/9.png", "data-opie-src" => "assets/gallery/9-big.png", class: "o-big-image" %>
					<div class="o-cover"> 
						<%= image_tag "assets/gallery/9.png", "data-opie-src" => "assets/gallery/9.png", class: "o-thumb-image" %>
	
						<h2>AMAZING THE POINER</h2> 
						<p> 
							<span class="caps">Indovision</span> 
							<span class="caps">Fox TV</span> 
						</p> 
					</div> 
				</div> 

				<div class="o-box" data-opie-filter="first" > 
					<%= image_tag "assets/gallery/10.png", "data-opie-src" => "assets/gallery/10.png", class: "o-big-image" %>
					<div class="o-cover"> 
						<%= image_tag "assets/gallery/10.png", "data-opie-src" => "assets/gallery/10.png", class: "o-thumb-image" %>
	
						<h2>AMAZING THE POINER</h2> 
						<p> 
							<span class="caps">Indovision</span> 
							<span class="caps">Fox TV</span> 
						</p> 
					</div> 
				</div> 

			</div> 
		</div> 
	</div>

  <div class="polosochka"></div>
</section>