<section class="wraper bg-raw fbscroll_item" id="intro" style="display:none">
  <article class="cont">
    <div class="slide-main cbp-so-scroller">
      <div class="dots">
        <div class="element"></div>
        <div class="element"></div>
        <div class="element"></div>
        <div class="element"></div>
        <div class="element"></div>
        <div class="element"></div>
        <div class="element"></div>
        <div class="element"></div>
        <div class="element"></div>
      </div>
      <div id="sequence">
        <ul class="sequence-canvas">
          <li>
            <div class="info" style="text-align:center;">
              <%= image_tag "slide/slider_1.jpg" %>
            </div>
          </li>
          <li>
            <div class="info" style="text-align:center;">
              <%= image_tag "slide/slider_2.jpg" %>
            </div>
          </li>
           <li>
            <div class="info" style="text-align:center;">
              <%= image_tag "slide/slider_3.jpg" %>
            </div>
          </li>
           <li>
            <div class="info" style="text-align:center;">
              <%= image_tag "slide/slider_4.jpg" %>
            </div>
          </li>
           <li>
            <div class="info" style="text-align:center;">
              <%= image_tag "slide/slider_5.jpg" %>
            </div>
          </li>
           <li>
            <div class="info" style="text-align:center;">
              <%= image_tag "slide/slider_6.jpg" %>
            </div>
          </li>
           <li>
            <div class="info" style="text-align:center;">
              <%= image_tag "slide/slider_7.jpg" %>
            </div>
          </li>
           <li>
            <div class="info" style="text-align:center;">
              <%= image_tag "slide/slider_8.jpg" %>
            </div>
          </li>
           <li>
            <div class="info" style="text-align:center;">
              <%= image_tag "slide/slider_9.jpg" %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </article>
  <div class="polosochka"></div>
</section>
