<div class="table-responsive">
  <% @groups.each do |group| %>
    <div class="head_pack" style="background: <%= group.colour %>"><%= group.name %></div>
    <table class="table table-bordered">
      <tbody>
        <% group.unit_items.each_with_index do |item,index| %>
          <tr>
            <td>
              <%= image_tag item.logo.url(:thumb),class: "small_image" ;%>
              <span class="name_channel"><%= item.name %> </span>
            </td>
            <% (memberships.count - 1).times do |i| %>
              <td>
                <% checked = item.memberships.map(&:id).include?(memberships[i+1]) %>
                <div class="roundedOne">
                  <%= check_box_tag 'check', '', checked, {id: "member_#{index}_#{i}"} %>
                  <label for="<%= "member_#{index}_#{i}" %>"></label>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <% (memberships.count).times do |i| %>
          <td>
            <div class="br"></div>
            <div class="pack-order">SUBSCRIBE</div>
            <div class="br"></div>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>