<div class="table-responsive">
  <div class="head_pack blue">GENERAL ENTERTAIMENT</div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
          <span class="hd">HD</span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
          <span class="hd">HD</span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="head_pack pink">LIFESTYLE</div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
          <span class="hd">HD</span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
          <span class="hd">HD</span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="head_pack green">EDUCATION</div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
          <span class="hd">HD</span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
          <span class="hd">HD</span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="head_pack yellow">KIDS</div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
          <span class="hd">HD</span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
          <span class="hd">HD</span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="head_pack old_blue">SPORTS</div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
          <span class="hd">HD</span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
          <span class="hd">HD</span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="head_pack gray">MUSIC</div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
          <span class="hd">HD</span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
          <span class="hd">HD</span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="head_pack blue_new">NEWS/INTERNATIONAL</div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
          <span class="hd">HD</span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
          <span class="hd">HD</span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
          <span class="hd">HD</span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
          <span class="hd">HD</span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="head_pack red">MOVIES</div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
          <span class="hd">HD</span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
          <span class="hd">HD</span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="head_pack gold">CHINESSE</div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
          <span class="hd">HD</span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
          <span class="hd">HD</span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="head_pack gray_new">SPECIAL TERING</div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
          <span class="hd">HD</span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
          <span class="hd">HD</span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag "logotv/Berita_Satu.png",class: "small_image" ;%>
          <span class="name_channel">Berita Satu World </span>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
       <td>
          <div class="roundedOne">
            <input type="checkbox" value="None" id="roundedOne" name="check" />
            <label for="roundedOne"></label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <div class="pack-order margn">SUBSCRIBE</div>
        </td>
       <td>
          <div class="pack-order margn">SUBSCRIBE</div>
        </td>
       <td>
          <div class="pack-order margn">SUBSCRIBE</div>
        </td>
       <td>
          <div class="pack-order margn">SUBSCRIBE</div>
        </td>
       <td>
          <div class="pack-order margn">SUBSCRIBE</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>