<%= render layout: 'shareds/back_office/prepare_table', 
           locals: {
                     table_name:  'Users', 
                     button_name: 'User'
                   } do %>

	<table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
		<thead>
			<tr>
				<th>Created at</th>
				<th>Fist Name</th>
				<th class="hidden-xs">Phone</th>
				<th>Email</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @users.each_with_index do |user, index| %>
			<tr>
				<td><b><%= user.created_at.strftime('%d %b %Y - at %I:%M%p') %></b></td>
				<td class="hidden-xs"><%= user.profile.first_name if user.profile %></td>
				<td class="hidden-xs"><%= user.profile.no_phone if user.profile %></td>
				<td><a><%= user.email %></a></td>
				<td class="center">
					<%= render partial: 'shareds/back_office/action_buttons', locals: {resource: user, confirmation: "#{user.username} will be deleted, are you sure ?"} %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

