<%= render layout: 'shareds/back_office/prepare_table', 
           locals: {
                     table_name:  'Channel Categories', 
                     button_name: 'Category'
                   } do %>
  <table class="table table-hover" id="sample-table-1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Colour</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @group_items.each_with_index do |group,index| %>
        <tr>
          <td><%= group.name %></td>
          <td><%= group.position %></td>
          <td><div style="background:<%= group.colour %>"><%= group.colour %></div></td>
          <td>
            <%= render partial: 'shareds/back_office/action_buttons', locals: {resource: group, confirmation: "#{group.name} will be deleted, are you sure ?"} %>
            </div>
          </td>
        </tr>  
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate @group_items %>
  </div>
<% end %>