<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
				<span class="clip-list-2"></span>
			</button>
			<%= link_to "#{image_tag 'bigtv.png', height: '50px'}".html_safe, dashboard_path %>
		</div>
		<% if current_user %>
			<div class="navbar-tools">
				<ul class="nav navbar-right">
					<li class="dropdown current-user">
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">
							<img src="/assets/avatar-1-small.jpg" class="circle-img" alt="">
							<span class="username"><%= current_user.username if current_user %></span>
							<i class="clip-chevron-down"></i>
						</a>
						<ul class="dropdown-menu">
					  	<li>
								<%= link_to "Dashboard".html_safe, dashboard_path %>
							</li>
							<li>
								<%= link_to manage_orders_path do %>
									<span class='title'> List Subscriptions</span>
								<% end %>
							</li>
							<li>
								<%= link_to new_customer_manage_orders_path do %>
									<span class='title'> Add Subscription </span>
								<% end %>
							</li>
					    <li>
								<%= link_to "My Profile".html_safe, edit_manage_user_path(current_user) %>
							</li>
							<li>
								<%= link_to "SignOut".html_safe, destroy_user_session_path, :method => :delete %>
							</li>
					  </ul>
					</li>
				</ul>
			</div>
		<% end %>
	</div>
</div>