<div class="row">
  <div class="col-sm-12">
    <ol class="breadcrumb">
      <li>
        <i class="clip-home-3"></i>
        <%= link_to "Dashboard", root_path %>
      </li>
      <li class="active">
        <%= table_name %>
      </li>
    </ol>
    <div class="page-header">
      <h1>
        <%= table_name %> List
        <div style="display: inline-table; float: right;">
          <%= link_to new_resource_path, class: "btn btn-primary" do %>
            <i class="icon-plus"></i>
            Add <%= button_name %>
          <% end %>
        </div>
      </h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= table_name %>
        <div class="panel-tools">
          <a class="btn btn-xs btn-link panel-expand" href="#">
            <i class="icon-resize-full"></i>
          </a>
          <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
          </a>
        </div>
      </div>
      <div class="panel-body">
        <%= yield %>
      </div>
    </div>
  </div>
</div>