<!DOCTYPE html>
<html>
  <head>
    <title>Home | BigTv : <%= @title_page || "Big Experience"%></title>
    <!-- <meta charset="UTF-8"> -->
    <meta name="viewport" content="width=device-width, user-scalable=0">
    <%= favicon_link_tag 'icon.jpg' %>
    <%= stylesheet_link_tag "application_front", :media => "all" -%>
    <%= csrf_meta_tags -%>
  </head>
  <body>
    <div class="top_banner">
      <div>
        <%= @top_content.description.html_safe %>
      </div>
    </div>
    <div class="cbp-fbscroller">
      <%= yield -%>
      <%= render partial: "shareds/front/footer" %>
    </div>

    <%= javascript_include_tag "application_front" -%>

    <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 978087938;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">;</script>
    <noscript>
      <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/978087938/?value=0&amp;guid=ON&amp;script=0"/>
      </div>
    </noscript>
  </body>
</html>
