<!DOCTYPE html>
<html>
  <head>
    <title>Home | BigTv : <%= @title_page || "Big Experience"%></title>
    <!-- <meta charset="UTF-8"> -->
    <meta name="viewport" content="width=device-width, user-scalable=0">
    <%= favicon_link_tag 'icon.jpg' %>
    <%= stylesheet_link_tag "application_front", :media => "all" -%>
    <%= csrf_meta_tags -%>
  </head>
  <body>
    <div class="top_banner">
      <div>
        <%= @top_content.description.html_safe %>
      </div>
    </div>
    <div class="cbp-fbscroller">
      <%= yield -%>
      <%= render partial: "shareds/front/footer" %>
    </div>

    <%= javascript_include_tag "application_front" -%>
    <script type="text/javascript">
      <%= render partial: "shareds/front/map/seedmap.js.erb" -%>
    </script>
  </body>
</html>
